@model WebAppColorStays.Models.ViewModel.CsKdPrefix


@{
    Layout = null;
    ViewData["Action"] = "KdCnHlForm";
}



<form id="CreatePrefix"
      data-ajax="true"
      data-ajax-url="/ColorStays/KdCnHlForm/CreatePrefix"
      data-ajax-method="POST"
      data-ajax-loading="#loader"
      data-ajax-success="SuccessPrefix(data, status, xhr,'CreatePrefix','CreateOrEditPrefix')"
      data-ajax-failure="FormAjaxFail(xhr, status, error,'CreatePrefix')">
    <h3 class="MnTp7 MnBm14 Br2_Cr BrRs4 CrBrWe TtAnCr Pg5 HrCrTe">
        <i class="UT-PenNibSmall"></i>
        Add Keyword Prefix
    </h3>

    <input type="hidden" name="NameAction" value="C" />

    <div id="CreateOrEditPrefix">
        @Html.AntiForgeryToken()

        <div style="display:none">responseformUT @ViewData["ResponseName"]</div>

        <h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.CompId)
        <input type="hidden" asp-for="IsHotel" value="true" />


        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)<span style="color:red;"> *</span></div>
                    <input class="TtBxTt15" id="PrefixName" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" required />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Name"></span></div>
        </div>


        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Description)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Description)" asp-for="Description" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Description"></span></div>
        </div>

        <div class="MnTp7 MnBm7 FxRw">
            <div class="FxGw1">
                <button type="submit" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-AddFile"></i>&nbsp;Add</button>
            </div>
        </div>

    </div>
</form>