<link href="~/css/appcss/ItemIssueApp.css" rel="stylesheet" />
@using LibCommon.Service
@{

    string Action = ViewData["Action"].ToString();
    string CompanyNav = " ";
    string MainNav = " ";
    string MainLink = " ";
    string DrownLink = " ";
    string MainLink1 = " ";
    string DrownLink1 = " ";
    string Country = " ";
    string Continent = " ";
    string Currency = " ";
    string Activity = " ";
    string Airport = " ";
    string MainLink2 = " ";
    string DrownLink2 = " ";
    string AnActivity = " ";
    string AnCity = " ";
    string AnCountry = " ";
    string AnPackage = " ";
    string AnPlace =" ";
    string AnRestaurant = " ";
    string AnState = " ";
    string AnswerPlace = " ";
    string CancellationPolicy = " ";
    string CancellationRefund = " ";
    string Category = " ";
    string SubCategory = " ";
    string City = " ";
    string EnqCallBack = " ";
    string Enquiry = " ";
    string FAQ = " ";
    string HowToReach = " ";
    string MonthBestVisit = " ";
    string NearByPlace = " ";
    string NewsCategory = " ";
    string News = " ";
    string PackageCityMap = " ";
    string Package = " ";
    string PackageExclusion = " ";
    string PackageInclusion = " ";
    string PackageItinerary = " ";
    string Photo = " ";
    string MainLink3 = " ";
    string DrownLink3 = " ";
    string MainLink4 = " ";
    string DrownLink4 = " ";
    string State = " ";
    string Place = " ";
    string PlaceType = " ";
    string QuestionPlace = " ";
    string Railway = " ";
    string Terrain = " ";
    string MainLink5 = " ";
    string DrownLink5 = " ";
    string Restaurant = " ";
    string RestaurantFoodType = " ";
    string RestaurantImage = " ";
    string RestaurantReview = " ";
    string RestaurantVideo = " ";
    string RTFoodTypeMap = " ";
    string TravelAgent = " ";
    string Sightseeing = " ";

    switch (Action)
    {
        case "CompanyNav": CompanyNav = "SideNavActive"; break;

        case "MainNav": MainNav = "SideNavActive"; break;
        case "Country": Country = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Continent": Continent = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Currency": Currency = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Activity": Activity = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Airport": Airport = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "City": City = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "State": State = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Place": Place = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "PlaceType": PlaceType = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Railway": Railway = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Terrain": Terrain = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "NearByPlace": NearByPlace = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;

        case "AnCountry": AnCountry = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnState": AnState = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnCity": AnCity = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnPlace": AnPlace = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnActivity": AnActivity = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnPackage": AnPackage = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnRestaurant": AnRestaurant = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        
        case "Category": Category = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "SubCategory": SubCategory = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "AnswerPlace": AnswerPlace = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "CancellationPolicy": CancellationPolicy = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "CancellationRefund": CancellationRefund = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "FAQ": FAQ = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "HowToReach": HowToReach = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "MonthBestVisit": MonthBestVisit = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "NewsCategory": NewsCategory = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "News": News = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "Photo": Photo = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "QuestionPlace": QuestionPlace = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "TravelAgent": TravelAgent = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "EnqCallBack": EnqCallBack = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "Enquiry": Enquiry = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;

        case "Sightseeing": Sightseeing = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageCityMap": PackageCityMap = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "Package": Package = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageExclusion": PackageExclusion = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageInclusion": PackageInclusion = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageItinerary": PackageItinerary = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;

        case "Restaurant": Restaurant = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RestaurantFoodType": RestaurantFoodType = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RestaurantImage": RestaurantImage = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RestaurantReview": RestaurantReview = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RestaurantVideo": RestaurantVideo = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RTFoodTypeMap": RTFoodTypeMap = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        
        default: break;
    }
}

<div class="SideNavSection  SwBxIt1Dv-Vn1 Ht100p" id="SideNavSectionID">

    <div class="SideNavHideBn" id="SideNavHideBnID"></div>
    <div class="SideNavMeHideBn" id="SideNavMeHideBnID" style="background-color:aqua;" onclick="HideNavSideMe();"></div>

    @await Html.PartialAsync("_BusinessLogoNav")

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @CompanyNav">
                <i class="UT-AppsSolid FtSz26"></i>
                <div class="SideNavLinkText">
                    @{
                        CsProjectName projectname = new CsProjectName();
                        var projectdata = projectname.ReturnList();
                    }
                    <a href="~/Account/AppJump?Url=@projectdata.FirstOrDefault(x=>x.Id == "1").AppHost/Account/Confirm">All Apps</a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainNav">
                <i class="UT-AppsSolid FtSz26"></i>
                <div class="SideNavLinkText">
                    <a href="~/AppsView/Index">@projectdata.FirstOrDefault(x=>x.Id == "2").Name</a>
                </div>
            </div>
        </div>
    </div> 

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink1">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>SetUp</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink1">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Continent">
                        <a href="~/ColorStays/Continent/Create">Continent</a>
                    </div>
                    <a href="~/ColorStays/Continent/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Continent/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Terrain">
                        <a href="~/ColorStays/Terrain/Create">Terrain</a>
                    </div>
                    <a href="~/ColorStays/Terrain/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Terrain/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Country">
                        <a href="~/ColorStays/Country/Create">Country</a>
                    </div>
                    <a href="~/ColorStays/Country/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Country/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @State">
                        <a href="~/ColorStays/State/Create">State</a>
                    </div>
                    <a href="~/ColorStays/State/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/State/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @City">
                        <a href="~/ColorStays/City/Create">City</a>
                    </div>
                    <a href="~/ColorStays/City/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/City/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PlaceType">
                        <a href="~/ColorStays/PlaceType/Create">PlaceType</a>
                    </div>
                    <a href="~/ColorStays/PlaceType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PlaceType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

             <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Place">
                        <a href="~/ColorStays/Place/Create">Place</a>
                    </div>
                    <a href="~/ColorStays/Place/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Place/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @NearByPlace">
                        <a href="~/ColorStays/NearByPlace/Create">NearByPlace</a>
                    </div>
                    <a href="~/ColorStays/NearByPlace/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/NearByPlace/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Currency">
                        <a href="~/ColorStays/Currency/Create">Currency</a>
                    </div>
                    <a href="~/ColorStays/Currency/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Currency/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Activity">
                        <a href="~/ColorStays/Activity/Create">Activity</a>
                    </div>
                    <a href="~/ColorStays/Activity/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Activity/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Airport">
                        <a href="~/ColorStays/Airport/Create">Airport</a>
                    </div>
                    <a href="~/ColorStays/Airport/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Airport/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Railway">
                        <a href="~/ColorStays/Railway/Create">Railway</a>
                    </div>
                    <a href="~/ColorStays/Railway/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Railway/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink2">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Accordian</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink2">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnCountry">
                        <a href="~/ColorStays/AnCountry/Create">AnCountry</a>
                    </div>
                    <a href="~/ColorStays/AnCountry/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnCountry/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnState">
                        <a href="~/ColorStays/AnState/Create">AnState</a>
                    </div>
                    <a href="~/ColorStays/AnState/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnState/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

             <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnCity">
                        <a href="~/ColorStays/AnCity/Create">AnCity</a>
                    </div>
                    <a href="~/ColorStays/AnCity/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnCity/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnPlace">
                        <a href="~/ColorStays/AnPlace/Create">AnPlace</a>
                    </div>
                    <a href="~/ColorStays/AnPlace/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnPlace/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnActivity">
                        <a href="~/ColorStays/AnActivity/Create">AnActivity</a>
                    </div>
                    <a href="~/ColorStays/AnActivity/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnActivity/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnPackage">
                        <a href="~/ColorStays/AnPackage/Create">AnPackage</a>
                    </div>
                    <a href="~/ColorStays/AnPackage/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnPackage/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnRestaurant">
                        <a href="~/ColorStays/AnRestaurant/Create">AnRestaurant</a>
                    </div>
                    <a href="~/ColorStays/AnRestaurant/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnRestaurant/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink3">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Common</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink3">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @FAQ">
                        <a href="~/ColorStays/FAQ/Create">FAQ</a>
                    </div>
                    <a href="~/ColorStays/FAQ/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/FAQ/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HowToReach">
                        <a href="~/ColorStays/HowToReach/Create">HowToReach</a>
                    </div>
                    <a href="~/ColorStays/HowToReach/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/HowToReach/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @NewsCategory">
                        <a href="~/ColorStays/NewsCategory/Create">NewsCategory</a>
                    </div>
                    <a href="~/ColorStays/NewsCategory/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/NewsCategory/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @News">
                        <a href="~/ColorStays/News/Create">News</a>
                    </div>
                    <a href="~/ColorStays/News/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/News/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @CancellationPolicy">
                        <a href="~/ColorStays/CancellationPolicy/Create">CancellationPolicy</a>
                    </div>
                    <a href="~/ColorStays/CancellationPolicy/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/CancellationPolicy/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @CancellationRefund">
                        <a href="~/ColorStays/CancellationRefund/Create">CancellationRefund</a>
                    </div>
                    <a href="~/ColorStays/CancellationRefund/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/CancellationRefund/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

             <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Category">
                        <a href="~/ColorStays/Category/Create">Category</a>
                    </div>
                    <a href="~/ColorStays/Category/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Category/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

                         <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @SubCategory">
                        <a href="~/ColorStays/SubCategory/Create">SubCategory</a>
                    </div>
                    <a href="~/ColorStays/SubCategory/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/SubCategory/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>


            @*<div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Photo">
                        <a href="~/ColorStays/Photo/Create">Photo</a>
                    </div>
                    <a href="~/ColorStays/Photo/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Photo/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @MonthBestVisit">
                        <a href="~/ColorStays/MonthBestVisit/Create">MonthBestVisit</a>
                    </div>
                    <a href="~/ColorStays/MonthBestVisit/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/MonthBestVisit/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnswerPlace">
                        <a href="~/ColorStays/AnswerPlace/Create">AnswerPlace</a>
                    </div>
                    <a href="~/ColorStays/AnswerPlace/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnswerPlace/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @QuestionPlace">
                        <a href="~/ColorStays/QuestionPlace/Create">QuestionPlace</a>
                    </div>
                    <a href="~/ColorStays/QuestionPlace/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/QuestionPlace/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @TravelAgent">
                        <a href="~/ColorStays/TravelAgent/Create">TravelAgent</a>
                    </div>
                    <a href="~/ColorStays/TravelAgent/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/TravelAgent/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
           @* <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Enquiry">
                        <a href="~/ColorStays/Enquiry/Create">Enquiry</a>
                    </div>
                    <a href="~/ColorStays/Enquiry/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Enquiry/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @EnqCallBack">
                        <a href="~/ColorStays/EnqCallBack/Create">EnqCallBack</a>
                    </div>
                    <a href="~/ColorStays/EnqCallBack/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/EnqCallBack/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink4">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Package</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink4">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Sightseeing">
                        <a href="~/ColorStays/Sightseeing/Create">Sightseeing</a>
                    </div>
                    <a href="~/ColorStays/Sightseeing/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Sightseeing/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Package">
                        <a href="~/ColorStays/Package/Create">Package</a>
                    </div>
                    <a href="~/ColorStays/Package/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Package/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageCityMap">
                        <a href="~/ColorStays/PackageCityMap/Create">PackageCityMap</a>
                    </div>
                    <a href="~/ColorStays/PackageCityMap/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageCityMap/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageExclusion">
                        <a href="~/ColorStays/PackageExclusion/Create">PackageExclusion</a>
                    </div>
                    <a href="~/ColorStays/PackageExclusion/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageExclusion/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageInclusion">
                        <a href="~/ColorStays/PackageInclusion/Create">PackageInclusion</a>
                    </div>
                    <a href="~/ColorStays/PackageInclusion/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageInclusion/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageItinerary">
                        <a href="~/ColorStays/PackageItinerary/Create">PackageItinerary</a>
                    </div>
                    <a href="~/ColorStays/PackageItinerary/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageItinerary/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink5">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Restaurant</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink5">

              <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RestaurantFoodType">
                        <a href="~/ColorStays/RestaurantFoodType/Create">RestaurantFoodType</a>
                    </div>
                    <a href="~/ColorStays/RestaurantFoodType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RestaurantFoodType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Restaurant">
                        <a href="~/ColorStays/Restaurant/Create">Restaurant</a>
                    </div>
                    <a href="~/ColorStays/Restaurant/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Restaurant/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RestaurantReview">
                        <a href="~/ColorStays/RestaurantReview/Create">RestaurantReview</a>
                    </div>
                    <a href="~/ColorStays/RestaurantReview/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RestaurantReview/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RestaurantVideo">
                        <a href="~/ColorStays/RestaurantVideo/Create">RestaurantVideo</a>
                    </div>
                    <a href="~/ColorStays/RestaurantVideo/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RestaurantVideo/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

             <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RTFoodTypeMap">
                        <a href="~/ColorStays/RTFoodTypeMap/Create">RTFoodTypeMap</a>
                    </div>
                    <a href="~/ColorStays/RTFoodTypeMap/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RTFoodTypeMap/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
         </div>
    </div>


</div>
