<link href="~/css/appcss/ItemIssueApp.css" rel="stylesheet" />
@using LibCommon.Service
@{

    string Action = ViewData["Action"].ToString();
    string CompanyNav = " ";
    string MainNav = " ";
    string MainLink = " ";
    string DrownLink = " ";
    string MainLink1 = " ";
    string DrownLink1 = " ";
    string Country = " ";
    string Continent = " ";
    string Currency = " ";

    switch (Action)
    {
        case "CompanyNav": CompanyNav = "SideNavActive"; break;

        case "MainNav": MainNav = "SideNavActive"; break;
        case "Country": Country = "SideSubLinkActive"; MainLink = "SideNavActive"; DrownLink = "SideSubNavActive"; break;
        case "Continent": Continent = "SideSubLinkActive"; MainLink = "SideNavActive"; DrownLink = "SideSubNavActive"; break;
        case "Currency": Currency = "SideSubLinkActive"; MainLink = "SideNavActive"; DrownLink = "SideSubNavActive"; break;
        default: break;
    }
}

<div class="SideNavSection  SwBxIt1Dv-Vn1 Ht100p" id="SideNavSectionID">

    <div class="SideNavHideBn" id="SideNavHideBnID"></div>
    <div class="SideNavMeHideBn" id="SideNavMeHideBnID" style="background-color:aqua;" onclick="HideNavSideMe();"></div>

    @await Html.PartialAsync("_BusinessLogoNav")

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @CompanyNav">
                <i class="UT-AppsSolid FtSz26"></i>
                <div class="SideNavLinkText">
                    @{
                        CsProjectName projectname = new CsProjectName();
                        var projectdata = projectname.ReturnList();
                    }
                    <a href="~/Account/AppJump?Url=@projectdata.FirstOrDefault(x=>x.Id == "1").AppHost/Account/Confirm">All Apps</a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainNav">
                <i class="UT-AppsSolid FtSz26"></i>
                <div class="SideNavLinkText">
                    <a href="~/AppsView/Index">@projectdata.FirstOrDefault(x=>x.Id == "2").Name</a>
                </div>
            </div>
        </div>
    </div> 

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>SetUp</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Continent">
                        <a href="~/ColorStays/Continent/Create">Continent</a>
                    </div>
                    <a href="~/ColorStays/Continent/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Continent/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Country">
                        <a href="~/ColorStays/Country/Create">Country</a>
                    </div>
                    <a href="~/ColorStays/Country/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Country/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Currency">
                        <a href="~/ColorStays/Currency/Create">Currency</a>
                    </div>
                    <a href="~/ColorStays/Currency/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Currency/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>



        </div>
    </div>
</div>
