<link href="~/css/appcss/ItemIssueApp.css" rel="stylesheet" />
@using LibCommon.Service
@{

    string Action = ViewData["Action"].ToString();
    string CompanyNav = " ";
    string MainNav = " ";
    string MainLink = " ";
    string DrownLink = " ";
    string MainLink1 = " ";
    string DrownLink1 = " ";
    string Country = " ";
    string Continent = " ";
    string Currency = " ";
    string Activity = " ";
    string Airport = " ";
    string MainLink2 = " ";
    string DrownLink2 = " ";
    string AnActivity = " ";
    string AnCity = " ";
    string AnCountry = " ";
    string AnPackage = " ";
    string AnPlace =" ";
    string AnRestaurant = " ";
    string AnState = " ";
    string AnswerPlace = " ";
    string CancellationPolicy = " ";
    string CancellationRefund = " ";
    string Category = " ";
    string SubCategory = " ";
    string City = " ";
    string EnqCallBack = " ";
    string Enquiry = " ";
    string FAQ = " ";
    string HowToReach = " ";
    string MonthBestVisit = " ";
    string NearByPlace = " ";
    string NewsCategory = " ";
    string News = " ";
    string PackageCityMap = " ";
    string Package = " ";
    string PackageExclusion = " ";
    string PackageInclusion = " ";
    string PackageItinerary = " ";
    string Video = "";
    string Photo = " ";
    string MainLink3 = " ";
    string DrownLink3 = " ";
    string MainLink4 = " ";
    string DrownLink4 = " ";
    string State = " ";
    string Place = " ";
    string PlaceType = " ";
    string QuestionPlace = " ";
    string Railway = " ";
    string Terrain = " ";
    string MainLink5 = " ";
    string DrownLink5 = " ";
    string Restaurant = " ";
    string RestaurantFoodType = " ";
    string RestaurantImage = " ";
    string RestaurantReview = " ";
    string RestaurantVideo = " ";
    string RTFoodTypeMap = " ";
    string TravelAgent = " ";
    string Sightseeing = " ";
    string Icon = " ";
    string ActivityType = " ";
    string ActivityTypeCountryMap = " ";
    string ActivityTypeStateMap = " ";
    string PackageType = " ";
    string PackageOfferType = " ";
    string PackageOffer = " ";
    string PackageTypeCountryMap = " ";
    string PackageTypeStateMap = " ";
    string MainLink6 = " ";
    string DrownLink6 = " ";
    string FestivalType = "";
    string MainLink7 = " ";
    string DrownLink7 = " ";
    string Highlight = "";
    string Religion = "";
    string MustExperience = "";
    string CountryOverView = "";
    string NewsTag = "";
    string Hotel = "";
    string HotelChainBrand = "";
    string HotelFacility = "";
    string HotelType = "";
    string MainLink8 = "";
    string DrownLink8 = "";
    string FacilityCategory = "";
    string HotelFacilityMap = "";
    string HotelCityList = "";
    string Offer = "";
    string RoomType = "";
    string RoomCategory = "";
    string RoomBedType = "";
    string RoomView = "";
    string OccupancyType = "";
    string ReviewFor = "";
    string ReviewQuestion = "";
    string HRmTariffNInventory = " ";
    string HotelOfferType = "";
    string HotelOffer = "";

    string WhyUs = "";
    string ReviewCountry = "";
    string ReviewState = "";
    string ReviewCity = "";
    string ReviewPlace = "";
    string ReviewHotel = "";
    string ReviewPackage = "";
    string ReviewReply = "";

    string CountryFestival = "";
    string StateFestival = "";
    string CityFestival = "";
    string Buy = "";

    string BlogLink = " ";
    string BlogSubLink = " ";
    string BgCategory = " ";
    string BgTags = " ";
    string BgSEO = " ";
    string Bg = " ";
    string BgComment = " ";
    string BgCommentReply = " ";
    string BgImage = " ";
    string BgVideo = " ";
    string BgAuthor = " ";



    switch (Action)
    {
        case "CompanyNav": CompanyNav = "SideNavActive"; break;

        case "MainNav": MainNav = "SideNavActive"; break;
        case "Country": Country = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Continent": Continent = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Currency": Currency = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Religion": Religion = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Activity": Activity = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Airport": Airport = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "City": City = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "State": State = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Place": Place = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "PlaceType": PlaceType = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Railway": Railway = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Terrain": Terrain = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "NearByPlace": NearByPlace = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "ActivityType": ActivityType = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "ActivityTypeCountryMap": ActivityTypeCountryMap = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "ActivityTypeStateMap": ActivityTypeStateMap = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "Video": Video = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;
        case "CountryOverView": CountryOverView = "SideSubLinkActive"; MainLink1 = "SideNavActive"; DrownLink1 = "SideSubNavActive"; break;

        case "Icon": Icon = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnCountry": AnCountry = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnState": AnState = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnCity": AnCity = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnPlace": AnPlace = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnActivity": AnActivity = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnPackage": AnPackage = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;
        case "AnRestaurant": AnRestaurant = "SideSubLinkActive"; MainLink2 = "SideNavActive"; DrownLink2 = "SideSubNavActive"; break;

        case "Category": Category = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "SubCategory": SubCategory = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "AnswerPlace": AnswerPlace = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "CancellationPolicy": CancellationPolicy = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "CancellationRefund": CancellationRefund = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "FAQ": FAQ = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "HowToReach": HowToReach = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "MonthBestVisit": MonthBestVisit = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "NewsTag": NewsTag = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "NewsCategory": NewsCategory = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "News": News = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "QuestionPlace": QuestionPlace = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "TravelAgent": TravelAgent = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "EnqCallBack": EnqCallBack = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "Enquiry": Enquiry = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "Offer": Offer = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewFor": ReviewFor = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewQuestion": ReviewQuestion = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "WhyUs": WhyUs = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewCountry": ReviewCountry = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewState": ReviewState = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewCity": ReviewCity = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewPlace": ReviewPlace = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewHotel": ReviewHotel = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewPackage": ReviewPackage = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;
        case "ReviewReply": ReviewReply = "SideSubLinkActive"; MainLink3 = "SideNavActive"; DrownLink3 = "SideSubNavActive"; break;

        case "Sightseeing": Sightseeing = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageCityMap": PackageCityMap = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "Package": Package = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageExclusion": PackageExclusion = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageInclusion": PackageInclusion = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageItinerary": PackageItinerary = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageType": PackageType = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageTypeCountryMap": PackageTypeCountryMap = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageTypeStateMap": PackageTypeStateMap = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageOfferType": PackageOfferType = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;
        case "PackageOffer": PackageOffer = "SideSubLinkActive"; MainLink4 = "SideNavActive"; DrownLink4 = "SideSubNavActive"; break;

        case "Restaurant": Restaurant = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RestaurantFoodType": RestaurantFoodType = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RestaurantImage": RestaurantImage = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RestaurantReview": RestaurantReview = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RestaurantVideo": RestaurantVideo = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;
        case "RTFoodTypeMap": RTFoodTypeMap = "SideSubLinkActive"; MainLink5 = "SideNavActive"; DrownLink5 = "SideSubNavActive"; break;

        case "MustExperience": MustExperience = "SideSubLinkActive"; MainLink6 = "SideNavActive"; DrownLink6 = "SideSubNavActive"; break;
        case "FestivalType": FestivalType = "SideSubLinkActive"; MainLink6 = "SideNavActive"; DrownLink6 = "SideSubNavActive"; break;
        case "CountryFestival": CountryFestival = "SideSubLinkActive"; MainLink6 = "SideNavActive"; DrownLink6 = "SideSubNavActive"; break;
        case "StateFestival": StateFestival = "SideSubLinkActive"; MainLink6 = "SideNavActive"; DrownLink6 = "SideSubNavActive"; break;
        case "CityFestival": CityFestival = "SideSubLinkActive"; MainLink6 = "SideNavActive"; DrownLink6 = "SideSubNavActive"; break;

        case "Highlight": Highlight = "SideSubLinkActive"; MainLink6 = "SideNavActive"; DrownLink6 = "SideSubNavActive"; break;
        case "Buy": Buy = "SideSubLinkActive"; MainLink6 = "SideNavActive"; DrownLink6 = "SideSubNavActive"; break;
        
        case "HotelCityList": HotelCityList = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "HotelType": HotelType = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "HotelFacility": HotelFacility = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "Hotel": Hotel = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "HotelChainBrand": HotelChainBrand = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "FacilityCategory": FacilityCategory = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "HotelFacilityMap": HotelFacilityMap = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "RoomCategory": RoomCategory = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "RoomBedType": RoomBedType = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "RoomView": RoomView = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "RoomType": RoomType = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "OccupancyType": OccupancyType = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "HRmTariffNInventory": HRmTariffNInventory = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "HotelOfferType": HotelOfferType = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;
        case "HotelOffer": HotelOffer = "SideSubLinkActive"; MainLink8 = "SideNavActive"; DrownLink8 = "SideSubNavActive"; break;

        case "BgCategory": BgCategory = "SideSubLinkActive"; BlogLink = "SideNavActive"; BlogSubLink = "SideSubNavActive"; break;
        case "BgTags": BgTags = "SideSubLinkActive"; BlogLink = "SideNavActive"; BlogSubLink = "SideSubNavActive"; break;
        case "BgSEO": BgSEO = "SideSubLinkActive"; BlogLink = "SideNavActive"; BlogSubLink = "SideSubNavActive"; break;
        case "BgComment": BgComment = "SideSubLinkActive"; BlogLink = "SideNavActive"; BlogSubLink = "SideSubNavActive"; break;
        case "BgCommentReply": BgCommentReply = "SideSubLinkActive"; BlogLink = "SideNavActive"; BlogSubLink = "SideSubNavActive"; break;
        case "Bg": Bg = "SideSubLinkActive"; BlogLink = "SideNavActive"; BlogSubLink = "SideSubNavActive"; break;
        case "BgAuthor": BgAuthor = "SideSubLinkActive"; BlogLink = "SideNavActive"; BlogSubLink = "SideSubNavActive"; break;


        default: break;
    }
}

<div class="SideNavSection  SwBxIt1Dv-Vn1 Ht100p" id="SideNavSectionID">

    <div class="SideNavHideBn" id="SideNavHideBnID"></div>
    <div class="SideNavMeHideBn" id="SideNavMeHideBnID" style="background-color:aqua;" onclick="HideNavSideMe();"></div>

    @await Html.PartialAsync("_BusinessLogoNav")

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @CompanyNav">
                <i class="UT-AppsSolid FtSz26"></i>
                <div class="SideNavLinkText">
                    @{
                        CsProjectName projectname = new CsProjectName();
                        var projectdata = projectname.ReturnList();
                    }
                    <a href="~/Account/AppJump?Url=@projectdata.FirstOrDefault(x=>x.Id == "1").AppHost/Account/Confirm">All Apps</a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainNav">
                <i class="UT-AppsSolid FtSz26"></i>
                <div class="SideNavLinkText">
                    <a href="~/AppsView/Index">@projectdata.FirstOrDefault(x => x.Id == "5").Name</a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink1">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>SetUp</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink1">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Continent">
                        <a href="~/ColorStays/Continent/Create">Continent</a>
                    </div>
                    <a href="~/ColorStays/Continent/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Continent/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Terrain">
                        <a href="~/ColorStays/Terrain/Create">Terrain</a>
                    </div>
                    <a href="~/ColorStays/Terrain/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Terrain/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Country">
                        <a href="~/ColorStays/Country/Create">Country</a>
                    </div>
                    <a href="~/ColorStays/Country/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Country/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Currency">
                        <a href="~/ColorStays/Currency/Create">Currency</a>
                    </div>
                    <a href="~/ColorStays/Currency/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Currency/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @State">
                        <a href="~/ColorStays/State/Create">State</a>
                    </div>
                    <a href="~/ColorStays/State/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/State/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @City">
                        <a href="~/ColorStays/City/Create">City</a>
                    </div>
                    <a href="~/ColorStays/City/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/City/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PlaceType">
                        <a href="~/ColorStays/PlaceType/Create">PlaceType</a>
                    </div>
                    <a href="~/ColorStays/PlaceType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PlaceType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Place">
                        <a href="~/ColorStays/Place/Create">Place</a>
                    </div>
                    <a href="~/ColorStays/Place/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Place/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>


            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Video">
                        <a href="~/ColorStays/Video/Create">Video</a>
                    </div>
                    <a href="~/ColorStays/Video/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Video/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @NearByPlace">
                        <a href="~/ColorStays/NearByPlace/Create">NearByPlace</a>
                    </div>
                    <a href="~/ColorStays/NearByPlace/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/NearByPlace/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ActivityType">
                        <a href="~/ColorStays/ActivityType/Create">Activity Type</a>
                    </div>
                    <a href="~/ColorStays/ActivityType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/ActivityType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Activity">
                        <a href="~/ColorStays/Activity/Create">Activity</a>
                    </div>
                    <a href="~/ColorStays/Activity/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Activity/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ActivityTypeCountryMap">
                        <a href="~/ColorStays/ActivityTypeCountryMap/Create">ActivityType CountryMap</a>
                    </div>
                    <a href="~/ColorStays/ActivityTypeCountryMap/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/ActivityTypeCountryMap/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ActivityTypeStateMap">
                        <a href="~/ColorStays/ActivityTypeStateMap/Create">ActivityType StateMap</a>
                    </div>
                    <a href="~/ColorStays/ActivityTypeStateMap/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/ActivityTypeStateMap/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @CountryOverView">
                        <a href="~/ColorStays/CountryOverView/Create">Country OverView</a>
                    </div>
                    <a href="~/ColorStays/CountryOverView/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/CountryOverView/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Airport">
                        <a href="~/ColorStays/Airport/Create">Airport</a>
                    </div>
                    <a href="~/ColorStays/Airport/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Airport/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Railway">
                        <a href="~/ColorStays/Railway/Create">Railway</a>
                    </div>
                    <a href="~/ColorStays/Railway/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Railway/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink2">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Accordian</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink2">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Icon">
                        <a href="~/ColorStays/Icon/Create">Icon</a>
                    </div>
                    <a href="~/ColorStays/Icon/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Icon/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnCountry">
                        <a href="~/ColorStays/AnCountry/Create">Accordian Country</a>
                    </div>
                    <a href="~/ColorStays/AnCountry/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnCountry/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnState">
                        <a href="~/ColorStays/AnState/Create">Accordian State</a>
                    </div>
                    <a href="~/ColorStays/AnState/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnState/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnCity">
                        <a href="~/ColorStays/AnCity/Create">Accordian City</a>
                    </div>
                    <a href="~/ColorStays/AnCity/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnCity/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnPlace">
                        <a href="~/ColorStays/AnPlace/Create">Accordian Place</a>
                    </div>
                    <a href="~/ColorStays/AnPlace/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnPlace/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnActivity">
                        <a href="~/ColorStays/AnActivity/Create">Accordian Activity</a>
                    </div>
                    <a href="~/ColorStays/AnActivity/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnActivity/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnPackage">
                        <a href="~/ColorStays/AnPackage/Create">Accordian Package</a>
                    </div>
                    <a href="~/ColorStays/AnPackage/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnPackage/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnRestaurant">
                        <a href="~/ColorStays/AnRestaurant/Create">Accordian Restaurant</a>
                    </div>
                    <a href="~/ColorStays/AnRestaurant/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnRestaurant/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink3">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Common</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink3">


            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @FAQ">
                        <a href="~/ColorStays/FAQ/Create">FAQ</a>
                    </div>
                    <a href="~/ColorStays/FAQ/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/FAQ/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            @*<div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Offer">
                        <a href="~/ColorStays/Offer/Create">Offer</a>
                    </div>
                    <a href="~/ColorStays/Offer/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Offer/Index\"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewFor">
                        <a href="~/ColorStays/ReviewFor/Create">Review For</a>
                    </div>
                    <a href="~/ColorStays/ReviewFor/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/ReviewFor/Index\"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewQuestion">
                        <a href="~/ColorStays/ReviewQuestion/Create">Review Question</a>
                    </div>
                    <a href="~/ColorStays/ReviewQuestion/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/ReviewQuestion/Index\"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewCountry">
                        <a href="~/ColorStays/Review/CreateCountryWise">Country Review</a>
                    </div>
                    <a href="~/ColorStays/Review/CreateCountryWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Review/Index?condition=Country"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewState">
                        <a href="~/ColorStays/Review/CreateStateWise">State Review</a>
                    </div>
                    <a href="~/ColorStays/Review/CreateStateWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Review/Index?condition=State"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewCity">
                        <a href="~/ColorStays/Review/CreateCityWise">City Review</a>
                    </div>
                    <a href="~/ColorStays/Review/CreateCityWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Review/Index?condition=City"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewPlace">
                        <a href="~/ColorStays/Review/CreatePlaceWise">Place Review</a>
                    </div>
                    <a href="~/ColorStays/Review/CreatePlaceWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Review/Index?condition=Place"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewHotel">
                        <a href="~/ColorStays/Review/CreateHotelWise">Hotel Review</a>
                    </div>
                    <a href="~/ColorStays/Review/CreateHotelWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Review/Index?condition=Hotel"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewPackage">
                        <a href="~/ColorStays/Review/CreatePackageWise">Package Review</a>
                    </div>
                    <a href="~/ColorStays/Review/CreatePackageWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Review/Index?condition=Package"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            @*<div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @ReviewReply">
                        <a href="~/ColorStays/ReviewReply/Create">Review Reply</a>
                    </div>
                    <a href="~/ColorStays/ReviewReply/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/ReviewReply/Index\"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @WhyUs">
                        <a href="~/ColorStays/WhyUs/Create"> Why Us </a>
                    </div>
                    <a href="~/ColorStays/WhyUs/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/WhyUs/Index\"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HowToReach">
                        <a href="~/ColorStays/HowToReach/Create">How To Reach</a>
                    </div>
                    <a href="~/ColorStays/HowToReach/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/HowToReach/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @NewsCategory">
                        <a href="~/ColorStays/NewsCategory/Create">News Category</a>
                    </div>
                    <a href="~/ColorStays/NewsCategory/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/NewsCategory/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @NewsTag">
                        <a href="~/ColorStays/NewsTag/Create">News Tag</a>
                    </div>
                    <a href="~/ColorStays/NewsTag/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/NewsTag/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @News">
                        <a href="~/ColorStays/News/Create">News</a>
                    </div>
                    <a href="~/ColorStays/News/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/News/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            @*<div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @CancellationPolicy">
                        <a href="~/ColorStays/CancellationPolicy/Create">Cancellation Policy</a>
                    </div>
                    <a href="~/ColorStays/CancellationPolicy/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/CancellationPolicy/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @CancellationRefund">
                        <a href="~/ColorStays/CancellationRefund/Create">Cancellation Refund</a>
                    </div>
                    <a href="~/ColorStays/CancellationRefund/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/CancellationRefund/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@

            @*<div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Category">
                        <a href="~/ColorStays/Category/Create">Category</a>
                    </div>
                    <a href="~/ColorStays/Category/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Category/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @SubCategory">
                        <a href="~/ColorStays/SubCategory/Create">Sub Category</a>
                    </div>
                    <a href="~/ColorStays/SubCategory/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/SubCategory/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@


            @*<div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @MonthBestVisit">
                        <a href="~/ColorStays/MonthBestVisit/Create">Month Best Visit</a>
                    </div>
                    <a href="~/ColorStays/MonthBestVisit/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/MonthBestVisit/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@

            @*<div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @AnswerPlace">
                        <a href="~/ColorStays/AnswerPlace/Create">Answer Place</a>
                    </div>
                    <a href="~/ColorStays/AnswerPlace/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/AnswerPlace/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @QuestionPlace">
                        <a href="~/ColorStays/QuestionPlace/Create">Question Place</a>
                    </div>
                    <a href="~/ColorStays/QuestionPlace/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/QuestionPlace/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @TravelAgent">
                        <a href="~/ColorStays/TravelAgent/Create">Travel Agent</a>
                    </div>
                    <a href="~/ColorStays/TravelAgent/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/TravelAgent/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            @* <div class="SideNavSubLinkDiv">
            <div class="SideNavSubLink ">
                <div class="SideNavLinkText @Enquiry">
                    <a href="~/ColorStays/Enquiry/Create">Enquiry</a>
                </div>
                <a href="~/ColorStays/Enquiry/Create"><i class="UT-AddFile"></i></a>
                <a href="~/ColorStays/Enquiry/Index"><i class="UT-List-OLine"></i></a>
            </div>
        </div>
        <div class="SideNavSubLinkDiv">
            <div class="SideNavSubLink ">
                <div class="SideNavLinkText @EnqCallBack">
                    <a href="~/ColorStays/EnqCallBack/Create">EnqCallBack</a>
                </div>
                <a href="~/ColorStays/EnqCallBack/Create"><i class="UT-AddFile"></i></a>
                <a href="~/ColorStays/EnqCallBack/Index"><i class="UT-List-OLine"></i></a>
            </div>
        </div>*@
        </div>
    </div>

    

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink5">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Restaurant</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink5">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RestaurantFoodType">
                        <a href="~/ColorStays/RestaurantFoodType/Create">Restaurant FoodType</a>
                    </div>
                    <a href="~/ColorStays/RestaurantFoodType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RestaurantFoodType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Restaurant">
                        <a href="~/ColorStays/Restaurant/Create">Restaurant</a>
                    </div>
                    <a href="~/ColorStays/Restaurant/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Restaurant/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RestaurantReview">
                        <a href="~/ColorStays/RestaurantReview/Create">Restaurant Review</a>
                    </div>
                    <a href="~/ColorStays/RestaurantReview/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RestaurantReview/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RestaurantVideo">
                        <a href="~/ColorStays/RestaurantVideo/Create">Restaurant Video</a>
                    </div>
                    <a href="~/ColorStays/RestaurantVideo/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RestaurantVideo/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RTFoodTypeMap">
                        <a href="~/ColorStays/RTFoodTypeMap/Create">Restaurant FoodTypeMap</a>
                    </div>
                    <a href="~/ColorStays/RTFoodTypeMap/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RTFoodTypeMap/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink6">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Must Experience</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink6">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @MustExperience">
                        <a href="~/ColorStays/MustExperience/Create">Must Experience</a>
                    </div>
                    <a href="~/ColorStays/MustExperience/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/MustExperience/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @FestivalType">
                        <a href="~/ColorStays/FestivalType/Create">FestivalType</a>
                    </div>
                    <a href="~/ColorStays/FestivalType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/FestivalType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @CountryFestival">
                        <a href="~/ColorStays/Festival/CreateCountryWise">Country Festival</a>
                    </div>
                    <a href="~/ColorStays/Festival/CreateCountryWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Festival/Index?condition=Country"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @StateFestival">
                        <a href="~/ColorStays/Festival/CreateStateWise">State Festival</a>
                    </div>
                    <a href="~/ColorStays/Festival/CreateStateWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Festival/Index?condition=State"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @CityFestival">
                        <a href="~/ColorStays/Festival/CreateCityWise">City Festival</a>
                    </div>
                    <a href="~/ColorStays/Festival/CreateCityWise"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Festival/Index?condition=City"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Highlight">
                        <a href="~/ColorStays/Highlight/Create">Highlight</a>
                    </div>
                    <a href="~/ColorStays/Highlight/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Highlight/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Buy">
                        <a href="~/ColorStays/Buy/Create">Buy</a>
                    </div>
                    <a href="~/ColorStays/Buy/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Buy/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink8">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Hotel</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink8">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HotelCityList">
                        <a href="~/ColorStays/HotelCityList/Create">Hotel City List</a>
                    </div>
                    <a href="~/ColorStays/HotelCityList/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/HotelCityList/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HotelType">
                        <a href="~/ColorStays/HotelType/Create">HotelType</a>
                    </div>
                    <a href="~/ColorStays/HotelType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/HotelType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>


            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @OccupancyType">
                        <a href="~/ColorStays/OccupancyType/Create">OccupancyType</a>
                    </div>
                    <a href="~/ColorStays/OccupancyType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/OccupancyType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @FacilityCategory">
                        <a href="~/ColorStays/FacilityCategory/Create">FacilityCategory</a>
                    </div>
                    <a href="~/ColorStays/FacilityCategory/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/FacilityCategory/Index\"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HotelFacility">
                        <a href="~/ColorStays/HotelFacility/Create">HotelFacility</a>
                    </div>
                    <a href="~/ColorStays/HotelFacility/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/HotelFacility/Index\"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HotelChainBrand">
                        <a href="~/ColorStays/HotelChainBrand/Create">HotelChainBrand</a>
                    </div>
                    <a href="~/ColorStays/HotelChainBrand/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/HotelChainBrand/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Hotel">
                        <a href="~/ColorStays/Hotel/Create">Hotel</a>
                    </div>
                    <a href="~/ColorStays/Hotel/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Hotel/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RoomCategory">
                        <a href="~/ColorStays/RoomCategory/Create">RoomCategory</a>
                    </div>
                    <a href="~/ColorStays/RoomCategory/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RoomCategory/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RoomBedType">
                        <a href="~/ColorStays/RoomBedType/Create">RoomBedType</a>
                    </div>
                    <a href="~/ColorStays/RoomBedType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RoomBedType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RoomView">
                        <a href="~/ColorStays/RoomView/Create">RoomView</a>
                    </div>
                    <a href="~/ColorStays/RoomView/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RoomView/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @RoomType">
                        <a href="~/ColorStays/RoomType/Create">RoomType</a>
                    </div>
                    <a href="~/ColorStays/RoomType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/RoomType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HRmTariffNInventory">
                        <a href="~/ColorStays/HRmTariffNInventory/HotelList"> Inventory & Tariff</a>
                    </div>
                    <a href="~/ColorStays/HRmTariffNInventory/HotelList"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HotelOfferType">
                        <a href="~/ColorStays/HotelOfferType/Create">HotelOfferType</a>
                    </div>
                    <a href="~/ColorStays/HotelOfferType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/HotelOfferType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @HotelOffer">
                        <a href="~/ColorStays/HotelOffer/Create">HotelOffer</a>
                    </div>
                    <a href="~/ColorStays/HotelOffer/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/HotelOffer/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
        </div>
    </div>


    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainLink4">
                <i class="UT-CategoryLine  FtSz20"></i>
                <div class="SideNavLinkText">
                    <a href=#>Package</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @DrownLink4">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageType">
                        <a href="~/ColorStays/PackageType/Create">PackageType</a>
                    </div>
                    <a href="~/ColorStays/PackageType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            
            @* <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageExclusion">
                        <a href="~/ColorStays/PackageExclusion/Create">Package Exclusion</a>
                    </div>
                    <a href="~/ColorStays/PackageExclusion/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageExclusion/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div> *@

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageInclusion">
                        <a href="~/ColorStays/PackageInclusion/Create">Package Inclusion</a>
                    </div>
                    <a href="~/ColorStays/PackageInclusion/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageInclusion/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Package">
                        <a href="~/ColorStays/Package/Create">Package</a>
                    </div>
                    <a href="~/ColorStays/Package/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Package/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            @* <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageTypeCountryMap">
                        <a href="~/ColorStays/PackageTypeCountryMap/Create">PackageType CountryMap</a>
                    </div>
                    <a href="~/ColorStays/PackageTypeCountryMap/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageTypeCountryMap/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageTypeStateMap">
                        <a href="~/ColorStays/PackageTypeStateMap/Create">PackageType StateMap</a>
                    </div>
                    <a href="~/ColorStays/PackageTypeStateMap/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageTypeStateMap/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div> 

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageCityMap">
                        <a href="~/ColorStays/PackageCityMap/Create">Package CityMap</a>
                    </div>
                    <a href="~/ColorStays/PackageCityMap/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageCityMap/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>*@

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageItinerary">
                        <a href="~/ColorStays/PackageItinerary/Create">Package Itinerary</a>
                    </div>
                    <a href="~/ColorStays/PackageItinerary/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageItinerary/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageOfferType">
                        <a href="~/ColorStays/PackageOfferType/Create">Package Offer Type</a>
                    </div>
                    <a href="~/ColorStays/PackageOfferType/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageOfferType/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>
            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @PackageOffer">
                        <a href="~/ColorStays/PackageOffer/Create">Package Offer</a>
                    </div>
                    <a href="~/ColorStays/PackageOffer/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/PackageOffer/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>


        </div>
    </div>


    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @BlogLink">
                <i class="UT-BlogCircleLine FtSz20 "></i>
                <div class="SideNavLinkText">
                    <a href=#>Blog Setup</a>
                </div>
                <a href=#><i class="UT-ArrowDownCircleSolid"></i></a>

            </div>
        </div>
        <div class="SideSubNavContainer @BlogSubLink">

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @Bg">
                        <a href="~/ColorStays/Bg/Index">New Blog</a>
                    </div>
                    <a href="~/ColorStays/Bg/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/Bg/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>


            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @BgCategory">
                        <a href="@Url.Action("Index", "BgCategory", new { Area = "ColorStays" })">Category</a>

                    </div>
                    <a href="~/ColorStays/BgCategory/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/BgCategory/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @BgTags">
                        <a href="~/ColorStays/BgTags/Index">Tags</a>
                    </div>
                    <a href="~/ColorStays/BgTags/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/BgTags/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @BgAuthor">
                        <a href="~/ColorStays/BgAuthor/Index">Authors</a>
                    </div>
                    <a href="~/ColorStays/BgAuthor/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/BgAuthor/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>


            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @BgSEO">
                        <a href="~/ColorStays/BgSEO/Index">S.E.O</a>
                    </div>
                    <a href="~/ColorStays/BgSEO/Create"><i class="UT-AddFile"></i></a>
                    <a href="~/ColorStays/BgSEO/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @BgComment">
                        <a href="~/ColorStays/BgComment/Index">Comments</a>
                    </div>
                    <a href="~/ColorStays/BgComment/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>

            <div class="SideNavSubLinkDiv">
                <div class="SideNavSubLink ">
                    <div class="SideNavLinkText @BgCommentReply">
                        <a href="~/ColorStays/BgCommentReply/Index">Comment Reply</a>
                    </div>
                    <a href="~/ColorStays/BgCommentReply/Index"><i class="UT-List-OLine"></i></a>
                </div>
            </div>


        </div>
    </div>
</div>
