@model WebAppColorStays.Models.ViewModel.CsState

@{
    Layout = "_Layout";
    ViewData["Action"] = "State";
}

<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1>Edit @ViewBag.Title</h1></div>
    <div>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1" onclick="location.href='/ColorStays/State/Create'"><i class="UT-AddFile FtSz18"></i></button>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1" onclick="location.href='/ColorStays/State/Index'"><i class="UT-List-OLine FtSz18"></i></button>
    </div>

</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg7 BrRs15">
    <div class="FxRw FxAnImSh">
        <div class="Fx45 Pg3">
            <div id="UTabs1">
                <div> State Detail</div>
                <div> State Image</div>
                <div>Set Up</div>
            </div>
            <div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
                <div id="UTabs1Cont0">
                    <div class="Pg12">
                        <form id="Edit"
                      data-ajax="true"
                      data-ajax-url="/ColorStays/State/Edit"
                      data-ajax-method="POST"
                      data-ajax-loading="#loader"
                      data-ajax-success="Success(data, status, xhr,'Edit','CreateOrEdit','/ColorStays/State/CreateOrEdit?id=@Model.Id')"
                      data-ajax-failure="FormAjaxFail(xhr, status, error,'Edit')">

                    @Html.AntiForgeryToken()

                    <h3 class="MnBm10"><span style="color:red">@ViewBag.Verified @ViewBag.Message</span></h3>

                    @Html.ValidationSummary(true)

                    <input type="hidden" name="NameAction" value="E" />

                    <div id="CreateOrEdit">
                        @await Html.PartialAsync("_CreateOrEdit", Model)
                    </div>
                    <div class="MnTp7 MnBm7" style="height:66vh;">
                        <div>
                            <div class="MaxMinDv">
                                <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.History)" asp-for="History" autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="MnTp7 MnBm7" style="height:66vh;">
                        <div>
                            <div class="MaxMinDv">
                                <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.Fact)" asp-for="Fact" autocomplete="off"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="MnTp7 MnBm7 FxRw">
                        <div class="FxGw1">
                            <button type="submit" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-EditFileLine"></i>&nbsp;Next</button>
                        </div>
                        <div>
                            <button type="button" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/State/Index'"><i class="UT-CancelCircleLine"></i>&nbsp;Cancel</button>
                        </div>
                    </div>
                </form>
                    </div>
                </div>

                <div id="UTabs1Cont1">
                    <div class="Pg12">
                        <h3 class="MnTp10 MnBm18 Br2_Cr BrRs20 CrBrWe TtAnCr Pg7 HrCrTe">
                            <i class="UT-ImageLine"></i>
                            Upload Cover Image
                        </h3>
                        <form action="/" enctype="multipart/form-data" method="POST">
                            <input type="hidden" name="SId" id="SId" />

                            <div class="dropzone" id="myDropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </div>
                            <div class="MnTp7 MnBm7 FxRw">
                                <div class="FxGw1">
                                    <button type="button" id="submit-all" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-ImageLine"></i>&nbsp;Upload</button>
                                </div>
                                <div>
                                    <button style="display:none;" id="SwTb3" type="button" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94 MnRt5" onclick="ActiveTabUt('UTabs1', 2)"><i class="UT-ArrowRightCircleLine"></i>&nbsp;Next</button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>

                <div id="UTabs1Cont2">
                    <div id="AddImgDetail" style="height: 400px;overflow: auto;"></div>
                    <div class="Pg10 FxRw">
                        <div class="FxGw1">
                            <button type="button" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/State/Create'"><i class="UT-SmileyThumbUp FtWt800"></i>&nbsp;Finish</button>
                        </div>
                        <div>
                            <button type="button" class="BnRd15 CrBdTeBnPs CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="ActiveTabUt('UTabs1', 1)"><i class="UT-CancelCircleLine"></i>&nbsp;Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Fx55 Pg3 FormSideView" id="FormSideView" style="overflow:auto">
            <div id="UTabs2">
                <div>All State</div>
                <div>Image</div>
            </div>
            <div class="BrTp3_Cr Br1_Cr CrBrTe BrRs5 ">
                <div id="UTabs2Cont0">
                    <div id="Def">
                        @await Html.PartialAsync("_IndexSearch", (IEnumerable<WebAppColorStays.Models.ViewModel.CsState>)ViewData["EnteredDetails"])
                    </div>
                </div>
                <div id="UTabs2Cont1">
                    <div id="Images"></div>
                </div>
            </div>

            
        </div>
    </div>
</div>

<script src="~/js/tinymce_6.2.0/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<link href="~/lib/dropzone/min/dropzone.min.css" rel="stylesheet" />
<script src="~/lib/dropzone/min/dropzone.min.js"></script>
<script>
    $(document).ready(function () {
        ShowLoader();
        TabsUT('UTabs1', 0, [1, 2], []);
        TabsUT('UTabs2', 0, null, []);

        //Show Image
        var StateId = $("#Id").val();
        getUT('/ColorStays/Photo/Index?CountryId=null' + '&StateId=' + StateId + '&CityId=null' + '&PlaceId=null', function (data) {
            document.getElementById('Images').innerHTML = "";
            document.getElementById('Images').innerHTML = data;
            document.getElementById('SwTb3').style.display = "block";
        });
        //Show the Images in LHS for Update
        getUT('/ColorStays/Photo/Index?CountryId=null' + '&StateId=' + StateId + '&CityId=null' + '&PlaceId=null' + '&UpdateDetail=Yes', function (data) {
            document.getElementById('AddImgDetail').innerHTML = "";
            document.getElementById('AddImgDetail').innerHTML = data;
            HideLoader();
        });
        //Ends
        StartSuggestionBox(2, 'SearchCountry', '/ColorStays/Country/SuggestCity', '', '', AoCeCity);
        MaxMin();
    });

    tinymce.init({
        selector: '#History, #Fact',
        plugins: `a11ychecker advcode advlist advtable anchor autocorrect autosave editimage image link linkchecker lists media mediaembed pageembed powerpaste searchreplace table template tinymcespellchecker visualblocks wordcount`,
        toolbar: 'undo redo | styles | bold italic underline strikethrough | align | table link image media pageembed | bullist numlist outdent indent | spellcheckdialog a11ycheck code | Source Code',
        a11ychecker_level: 'aaa',
        style_formats: [
            { title: 'Heading 1', block: 'h1' },
            { title: 'Heading 2', block: 'h2' },
            { title: 'Paragraph', block: 'p' },
            { title: 'Blockquote', block: 'blockquote' },
            { title: 'Image formats' },
            { title: 'Medium', selector: 'img', classes: 'medium' },
        ],
        object_resizing: true,
        valid_classes: {
            'img': 'medium',
            'div': 'related-content'
        },
        image_caption: true,
        templates: [
            {
                title: 'Related content',
                description: 'This template inserts a related content block',
                content: '<div class="related-content"><h3>Related content</h3><p><strong>{$rel_lede}</strong> {$rel_body}</p></div>'
            }
        ],
        content_langs: [
            { title: 'English (US)', code: 'en_US' },
        ],
        content_style: `
                        img {
                            height: auto;
                        margin: auto;
                        padding: 10px;
                        display: block;
                                            }
                        img.medium {
                            max - width: 25%;
                                            }
                        `
    });

    //Clear Autocompete data
    function ClearData(UrNe, UrId) {
        document.getElementById(UrNe).value = '';
        document.getElementById(UrId).value = '';
    }

    //Autocomplete Item
    function AoCeCity(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_Country_Name').value = event.target.Id;
        document.getElementById(InputId).value = event.target.Value;
    }

    function Success(data, status, xhr, FormID, FormFieldID) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDiv", "Def");
        //Show the Image Tab
        ActiveTabUt('UTabs1', 1);
        ActiveTabUt('UTabs2', 0);
        document.getElementById('SId').value = document.getElementById('SeId').value;
    }

    function SuccessIeDl(data, status, xhr, FormID, FormFieldID) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDivNoFReset", "Images");
        ActiveTabUt('UTabs2', 1);
    }
    //Table Search Success Function
    function TableSuccessFn(data, status, xhr, FormID) {
        //This the SuccessFunction
        FormAjaxSuccess(data, FormID, '', "UpdateDivNoFReset", "Def");
        //Here we get the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data,"text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/State/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=TableSearch&NetRecords=' + netrecord);
    }

    function IntializeTableSearch() {
        var SkipRow = [0, 1];
        var SkipCol = [0];
        StartTableSearch('TeUT', SkipRow, SkipCol);
    }
    //Upload the Images
    Dropzone.options.myDropzone = {
        url: '/ColorStays/State/SaveImage',
        autoProcessQueue: false,
        uploadMultiple: true,
        parallelUploads: 5,
        maxFiles: 10,
        acceptedFiles: 'image/*',
        addRemoveLinks: true,
        error: function (file, response) {
            if ($.type(response) === "string")
                var message = response; //dropzone sends it's own error messages in string
            else
                var message = response.message;
            file.previewElement.classList.add("dz-error");
            _ref = file.previewElement.querySelectorAll("[data-dz-errormessage]");
            _results = [];
            for (_i = 0, _len = _ref.length; _i < _len; _i++) {
                node = _ref[_i];
                _results.push(node.textContent = message);
            }
            HideLoader();
            return _results;
        },
        init: function () {
            dzClosure = this; // Makes sure that 'this' is understood inside the functions below.
            // for Dropzone to process the queue (instead of default form behavior):
            document.getElementById("submit-all").addEventListener("click", function (e) {
                // Make sure that the form isn't actually being sent.
                e.preventDefault();
                e.stopPropagation();
                dzClosure.processQueue();
            });

            //send all the form data along with the files:
            this.on("sendingmultiple", function (data, xhr, formData) {
                formData.append("SId", jQuery("#SId").val());
                ShowLoader();
            });

            this.on("success", function () {
                ShowUploads();
            });
        }
    }
    //Ends

    //Show the Uploaded Image in the Tab.......................
    function ShowUploads() {
        var StateId = $("#SId").val();
        getUT('/ColorStays/Photo/UploadedImage?CountryId=null' + '&StateId=' + StateId + '&CityId=null' + '&PlaceId=null' + '&ShowBtn=' + true, function (data) {
            document.getElementById('Images').innerHTML = "";
            document.getElementById('Images').innerHTML = data;
            ActiveTabUt('UTabs2', 1);
            document.getElementById('SwTb3').style.display = "block";
            HideLoader();
        });
        //Show the Images in LHS for Update
        getUT('/ColorStays/Photo/Index?CountryId=null' + '&StateId=' + StateId + '&CityId=null' + '&PlaceId=null' + '&UpdateDetail=Yes', function (data) {
            document.getElementById('AddImgDetail').innerHTML = "";
            document.getElementById('AddImgDetail').innerHTML = data;
        });
    };
    //Ends.............................

    //Delete the Image
    function DeleteImg(id, StateId, imgname) {
        ShowLoader();
        getUT('/ColorStays/Photo/ImageDelete?ImageID=' + id + '&CountryId=null' + '&StateId=' + StateId + '&CityId=null' + '&PlaceId=null' + '&ImgName=' + imgname, function (data) {
            document.getElementById('Images').innerHTML = "";
            document.getElementById('Images').innerHTML = data;
            ActiveTabUt('UTabs2', 1);
            HideLoader();
        });
        //Show the Images in LHS for Update
        getUT('/ColorStays/Photo/Index?CountryId=null' + '&StateId=' + StateId + '&CityId=null' + '&PlaceId=null' + '&UpdateDetail=Yes', function (data) {
            document.getElementById('AddImgDetail').innerHTML = "";
            document.getElementById('AddImgDetail').innerHTML = data;
        });
    };
</script>

