@using LibCommon.Service
<link href="~/css/appcss/developerapp.css" rel="stylesheet" />
@{
    string Action = ViewData["Action"].ToString();
    string MainNav = " ";
    string ProjectApp = " ";
    string CompanyNav = " ";
    switch (Action)
    {
        case "MainNav": MainNav = "SideNavActive"; break;
        case "ProjectApp": ProjectApp = "SideNavActive"; break;
        case "CompanyNav": CompanyNav = "SideNavActive"; break;
        default: break;
    }
}

<div class="SideNavSection  SwBxIt1Dv-Vn1 Ht100p" id="SideNavSectionID">

    <div class="SideNavHideBn" id="SideNavHideBnID"></div>
    <div class="SideNavMeHideBn" id="SideNavMeHideBnID" style="background-color:aqua;" onclick="HideNavSideMe();"></div>

    <div class="SideNavLogo">
        <div class="TextCenter">
            <i class="icon-UncleTech-Face UncleTechLogo"></i>
            <i class="icon-UncleTech-Glasses UncleTechLogo UncleTechGlasses"></i>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @CompanyNav">
                <i class="UT-AppsSolid FtSz26"></i>
                <div class="SideNavLinkText">
                    @{
                        CsProjectName projectname = new CsProjectName();
                        var projectdata = projectname.ReturnList();
                    }
                    <a href="~/Account/AppJump?Url=@projectdata.FirstOrDefault(x=>x.Id == "1").AppHost/Account/Confirm">All Apps</a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @MainNav">
                <i class="UT-POSComputer FtSz26"></i>
                <div class="SideNavLinkText">
                    <a href="~/AppsView/Index">@projectdata.FirstOrDefault(x=>x.Id == "5").Name</a>
                </div>
            </div>
        </div>
    </div>

    <div class="SideNavContainer">
        <div class="SideNavLinkDiv">
            <div class="SideNavLink @ProjectApp">
                <i class="UT-PlusLine"></i>
                <div class="SideNavLinkText">
                    <a href="@Url.Action("Index", "ProjectApp", new { Area = "Developer" })">Add Apps</a>
                </div>
                <a href="~/Developer/ProjectApp/Create"><i class="UT-AddFile"></i></a>
                <a href="~/Developer/ProjectApp/Index"><i class="UT-List-OLine"></i></a>
            </div>
        </div>
    </div>
</div>

