@model WebAppColorStays.Models.ViewModel.CsNews


@{ 
    Layout = null; 
    ViewData["Action"] = "News";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)
@Html.HiddenFor(model => model.Photo1)
@Html.HiddenFor(model => model.Photo2)
@Html.HiddenFor(model => model.Photo3)
@Html.HiddenFor(model => model.Photo4)
@Html.HiddenFor(model => model.Photo5)
@Html.HiddenFor(model => model.AltTag1)
@Html.HiddenFor(model => model.AltTag2)
@Html.HiddenFor(model => model.AltTag3)
@Html.HiddenFor(model => model.AltTag4)
@Html.HiddenFor(model => model.AltTag5)
@Html.HiddenFor(model => model.PhotoDesc1)
@Html.HiddenFor(model => model.PhotoDesc2)
@Html.HiddenFor(model => model.PhotoDesc3)
@Html.HiddenFor(model => model.PhotoDesc4)
@Html.HiddenFor(model => model.PhotoDesc5)

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_NewsCategory_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="News Category" type="text" id="SearchNewsCategory" asp-for="NewsCategory" autocomplete="off" required onchange="ClearData('SearchNewsCategory','Fk_NewsCategory_Name')" />
            <input type="hidden" asp-for="Fk_NewsCategory_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_NewsCategory_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_City_Name)</div>
            <input class="TtBxTt14" placeholder="City Name" type="text" id="SearchCity" asp-for="City" autocomplete="off" onchange="ClearData('SearchCity','Fk_City_Name')" />
            <input type="hidden" asp-for="Fk_City_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_City_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_State_Name)</div>
            <input class="TtBxTt14" placeholder="State Name" type="text" id="SearchState" asp-for="State" autocomplete="off" onchange="ClearData('SearchState','Fk_State_Name')" />
            <input type="hidden" asp-for="Fk_State_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_State_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Country_Name)</div>
            <input class="TtBxTt14" placeholder="Country Name" type="text" id="SearchCountry" asp-for="Country" autocomplete="off" onchange="ClearData('SearchCountry','Fk_Country_Name')" />
            <input type="hidden" asp-for="Fk_Country_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Country_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Activity_Name)</div>
            <input class="TtBxTt14" placeholder="Activity Name" type="text" id="SearchActivity" asp-for="Activity" autocomplete="off" onchange="ClearData('SearchActivity','Fk_Activity_Name')" />
            <input type="hidden" asp-for="Fk_Activity_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Activity_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Title)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Title)" asp-for="Title" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Title"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Summary)</div>
            <textarea  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Summary)" asp-for="Summary" autocomplete="off" ></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Summary"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.News)</div>
            <textarea  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.News)" asp-for="News" autocomplete="off" ></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="News"></span></div>
</div>

<div class="FxRw">
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.LikeCount)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.LikeCount)" asp-for="LikeCount" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="LikeCount"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShareCount)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ShareCount)" asp-for="ShareCount" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="ShareCount"></span></div>
    </div>

    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.DislikeCount)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.DislikeCount)" asp-for="DislikeCount" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="DislikeCount"></span></div>
    </div>

</div>




<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOTitle) &nbsp;<span> Max Char 70 </span> <span id="SeotitleSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOTitle)" asp-for="SEOTitle" autocomplete="off" required onkeyup="CrCtIt('SEOTitle','SeotitleSID',70)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOTitle"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEODescription) &nbsp;<span> Max Char 170 </span> <span id="SeoDescSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEODescription)" asp-for="SEODescription" autocomplete="off" required onkeyup="CrCtIt('SEODescription','SeoDescSID',170)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEODescription"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOKeywords)<span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOKeywords)" asp-for="SEOKeywords" autocomplete="off" required></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOKeywords"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video1)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video1)" asp-for="Video1" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video1"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video2)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video2)" asp-for="Video2" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video2"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video3)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video3)" asp-for="Video3" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video3"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video4)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video4)" asp-for="Video4" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video4"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video5)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video5)" asp-for="Video5" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video5"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>