@model WebAppColorStays.Models.ViewModel.CsCountry


@{ 
    Layout = null; 
    ViewData["Action"] = "Country";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.URL)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.URL)" asp-for="URL" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="URL"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.History)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.History)" asp-for="History" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="History"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fact)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fact)" asp-for="Fact" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fact"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Longitude)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Longitude)" asp-for="Longitude" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Longitude"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Latitude)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Latitude)" asp-for="Latitude" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Latitude"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Area)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Area)" asp-for="Area" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Area"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Population)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Population)" asp-for="Population" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Population"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PopularReligion)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PopularReligion)" asp-for="PopularReligion" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="PopularReligion"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Airport_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_Airport_Name)" asp-for="Fk_Airport_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Airport_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Railway_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_Railway_Name)" asp-for="Fk_Railway_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Railway_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Rating)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Rating)" asp-for="Rating" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Rating"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.InternationalAirportCount)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.InternationalAirportCount)" asp-for="InternationalAirportCount" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="InternationalAirportCount"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.DomesticAirportCount)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.DomesticAirportCount)" asp-for="DomesticAirportCount" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="DomesticAirportCount"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.RailwayStationCount)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.RailwayStationCount)" asp-for="RailwayStationCount" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="RailwayStationCount"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>

