@model WebAppColorStays.Models.ViewModel.CsHotel


@{
    Layout = null;
    ViewData["Action"] = "Hotel";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)
@Html.HiddenFor(model => model.Label)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_HotelType_Name)<span style="color:red;"> *</span></div>
            <select asp-for="Fk_HotelType_Name" asp-items="@await ViewBag.HotelType" class="TtBxTt15" required>
                <option value="">Select HotelType</option>
            </select>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_HotelType_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_ChainBrand_Name)</div>
            <select asp-for="Fk_ChainBrand_Name" asp-items="@await ViewBag.ChainBrand" class="TtBxTt15">
                <option value="">Select ChainBrand</option>
            </select>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_ChainBrand_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Currency_Name)<span style="color:red;"> *</span></div>
            <select asp-for="Fk_Currency_Name" asp-items="@await ViewBag.Currency" class="TtBxTt15" required>
                <option value="">Select Currency</option>
            </select>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Currency_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Location_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="Location Name" type="text" id="SearchLocation" asp-for="Location" autocomplete="off" required onchange="ClearData('SearchLocation', 'Fk_Location_Name', 'Fk_Place_Name','Fk_City_Name', 'Fk_State_Name', 'Fk_Country_Name')" />
            <input type="hidden" asp-for="Fk_Location_Name" required />
            <input type="hidden" asp-for="Fk_Place_Name" required />
            <input type="hidden" asp-for="Fk_City_Name" required />
            <input type="hidden" asp-for="Fk_State_Name" required />
            <input type="hidden" asp-for="Fk_Country_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Location_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.URL)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.URL)" asp-for="URL" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="URL"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off"required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TagLine)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TagLine)" asp-for="TagLine" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="TagLine"></span></div>
</div>

@if (Model != null)
{
    @if (Model.CoverImage != null)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverImage)</div>
                    <img src="@Model.CoverImage" class="Wh50p Ht60p" />
                    <input asp-for="CoverImageName" type="hidden" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="CoverImage"></span></div>
        </div>
    }
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverImage) (265 X 345)</div>
            <input asp-for="CoverImage" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CoverImage"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverAltTag)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.CoverAltTag)" asp-for="CoverAltTag" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CoverAltTag"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Address)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Address)" asp-for="Address" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Address"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Heading1)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Heading1)" asp-for="Heading1" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Heading1"></span></div>
</div>



<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.EmailAddress)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.EmailAddress)" asp-for="EmailAddress" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="EmailAddress"></span></div>
    </div>


    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.GstNo)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.GstNo)" asp-for="GstNo" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="GstNo"></span></div>
    </div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ContactPerson)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ContactPerson)" asp-for="ContactPerson" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ContactPerson"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Landmark)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Landmark)" asp-for="Landmark" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Landmark"></span></div>
</div>

<div class="FxRw">
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Rank)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Rank)" asp-for="Rank" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Rank"></span></div>
    </div>
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.HomeRank)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.HomeRank)" asp-for="HomeRank" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="HomeRank"></span></div>
    </div>
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.StarRating)<span style="color:red;"> *</span></div>
                <select asp-for="StarRating" class="TtBxTt15" required>
                    <option value="">Select Star Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="StarRating"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="IsFreeCancellation">
                &nbsp;Free Cancellation
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="IsFreeCancellation"></span></div>
    </div>


    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="IsBookWithoutCreditCard">
                &nbsp;Book Without CreditCard
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="IsBookWithoutCreditCard"></span></div>
    </div>
</div>

<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="IsNoPrePayment">
                &nbsp;NoPrePayment
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="IsNoPrePayment"></span></div>
    </div>


    <div class="Fx50 Pg2 MnTp7  MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="IsFeaturedProperty">
                &nbsp;Featured Property
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="IsFeaturedProperty"></span></div>
    </div>
</div>


<div class="Pg2 MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.MapLink)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.MapLink)" asp-for="MapLink" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="MapLink"></span></div>
</div>



<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.DistanceFromCityCenter)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.DistanceFromCityCenter)" asp-for="DistanceFromCityCenter" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="DistanceFromCityCenter"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video)" asp-for="Video" autocomplete="off"/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video"></span></div>
</div>

@if (Model != null)
{
    @if (Model.VideoImage != null)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.VideoImage)</div>
                    <img src="@Model.VideoImage" class="Wh60p" />
                    <input asp-for="VideoImageName" type="hidden" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="VideoImage"></span></div>
        </div>
    }
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.VideoImage)</div>
            <input asp-for="VideoImage" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="VideoImage"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.VideoImageAltTag)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.VideoImageAltTag)" asp-for="VideoImageAltTag" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="VideoImageAltTag"></span></div>
</div>

<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BuiltYear)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BuiltYear)" asp-for="BuiltYear" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="BuiltYear"></span></div>
    </div>

    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfRooms)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfRooms)" asp-for="NoOfRooms" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="NoOfRooms"></span></div>
    </div>
</div>

<div class="FxRw">
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="BudgetHotels">
                &nbsp;Budget Hotels
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="BudgetHotels"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="LuxuryHotels">
                &nbsp;Luxury Hotels
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="LuxuryHotels"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="PremiumHotels">
                &nbsp;Premium Hotels
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="PremiumHotels"></span></div>
    </div>
</div>

<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TimeZone)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TimeZone)" asp-for="TimeZone" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="TimeZone"></span></div>
    </div>


    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CheckInTime)<span style="color:red;"> *</span></div>
                <div class="DyFx">
                    <select name="CheckInHours" id="CheckInHours" class="TtBxTt15 Fx50" onchange="SetCheckInTime(this.value, 'CheckInHours')">
                        <option>Hrs</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="08">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                    <select name="CheckInMinutes" id="CheckInMinutes" class="TtBxTt15 Fx50" onchange="SetCheckInTime(this.value, 'CheckInMinutes')">
                        <option>Min</option>
                        <option value="00">00</option>
                        <option value="30">30</option>
                    </select>

                </div>
                <input type="hidden" class="TtBxTt15" asp-for="CheckInTime" autocomplete="off" required />

            </div>

        </div>
        <div class="VnRd"><span asp-validation-for="CheckInTime"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="Is24HrCheckIn">
                &nbsp;Is 24Hr CheckIn
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Is24HrCheckIn"></span></div>
    </div>

    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CheckOutTime)<span style="color:red;"> *</span></div>
                <div class="DyFx">
                    <select name="CheckOutHours" id="CheckOutHours" class="TtBxTt15 Fx50" onchange="SetCheckOutTime(this.value, 'CheckOutHours')">
                        <option>Hrs</option>
                        <option value="00">00</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="08">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                    </select>
                    <select name="CheckOutMinutes" id="CheckOutMinutes" class="TtBxTt15 Fx50" onchange="SetCheckOutTime(this.value, 'CheckOutMinutes')">
                        <option>Min</option>
                        <option value="00">00</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <input type="hidden" class="TtBxTt15" asp-for="CheckOutTime" autocomplete="off" required />

            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="CheckOutTime"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfFloors)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfFloors)" asp-for="NoOfFloors" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="NoOfFloors"></span></div>
    </div>


    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfRestaurant)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfRestaurant)" asp-for="NoOfRestaurant" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="NoOfRestaurant"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Phone)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Phone)" asp-for="Phone" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Phone"></span></div>
    </div>


    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Mobile)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Mobile)" asp-for="Mobile" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Mobile"></span></div>
    </div>
</div>

<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CustomerCareNum)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.CustomerCareNum)" asp-for="CustomerCareNum" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="CustomerCareNum"></span></div>
    </div>

    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Website)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Website)" asp-for="Website" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Website"></span></div>
    </div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOTitle) &nbsp;<span> Max Char 70 </span> <span id="SeotitleSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOTitle)" asp-for="SEOTitle" autocomplete="off" required onkeyup="CrCtIt('SEOTitle','SeotitleSID',70)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOTitle"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEODescription) &nbsp;<span> Max Char 170 </span> <span id="SeoDescSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEODescription)" asp-for="SEODescription" autocomplete="off" required onkeyup="CrCtIt('SEODescription','SeoDescSID',170)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEODescription"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOKeywords)<span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOKeywords)" asp-for="SEOKeywords" autocomplete="off" required></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOKeywords"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.StructuredData)</div>
            <textarea class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.StructuredData)" asp-for="StructuredData" autocomplete="off"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="StructuredData"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>

