@model IEnumerable<WebAppColorStays.Models.ViewModel.CsHotel>

@{
    Layout = null;
    ViewData["Action"] = "Hotel";
    int PageNoSelect = Convert.ToInt32(ViewData["PageNumberSelected"]);
    int PageSize = Convert.ToInt32(ViewData["PageRecordSize"]);
}

<b style="display:none" id="PaginationAt" pagenumber="@PageNoSelect" pagesize="@PageSize" netrecord="@ViewData["NetRecords"]">responseformUT SuccessPop</b>

@foreach (var item in Model)
{
    <tr>
        <td>
            @if (item.SelectStatus == true)
            {
                <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                    <input type="checkbox" ClipStatus ="Selected" id="@item.Id" value="@item.Id" name="@item.Name" class="AmIndexCheckbox SeIt1o14" />
                </span>
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-uPr" href="#" data-toggle="tooltip" data-placement="bottom" title="Mark UnStar" onclick="MultiButtonFunc('UnStar','@item.Id', '@item.Name','/ColorStays/Hotel')"><i class="UT-StarSolid"> </i> </a>
            }
            else
            {
                <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                    <input type="checkbox" ClipStatus ="UnSelected" id="@item.Id" value="@item.Id" name="@item.Name" class="AmIndexCheckbox SeIt1o14" />
                </span>
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-uPr" href="#" data-toggle="tooltip" data-placement="bottom" title="Mark Star" onclick="MultiButtonFunc('Star','@item.Id', '@item.Name','/ColorStays/Hotel')"><i class="UT-UnstarSolid"></i></a>
            }
            <a class="BnInSe15  CrBdTeBn HrTmSeo94 Cr-1Pr" href=# onclick="Details('/ColorStays/Hotel/Details?Id=@item.Id')" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="UT-DetailLine FtWt800"></i> </a>
            @if (item.VerifiedStatus == false && item.ActiveStatus == false && item.GlobalStatus == false)
            {
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-1Pr" href="@Url.Action("Edit", new { id=item.Id })"> <i class="UT-EditFileLine FtWt800"></i> </a>
            }
        </td>
         
	    <td>@item.Fk_Country_Name</td>
         
	    <td>@item.Fk_City_Name</td>
         
	    <td>@item.Fk_State_Name</td>
         
	    <td>@item.Fk_Place_Name</td>
                  
	    <td>@item.Name</td>
         
	    <td>@item.TagLine</td>
         
	    <td>@item.CoverImage</td>
         
	    <td>@item.Address</td>
         
	    <td>@item.EmailAddress</td>
                  
	    <td>@item.ContactPerson</td>
         
	    <td>@item.GstNo</td>
         
	    <td>@item.Landmark</td>
         
	    <td>@item.ReviewRating</td>
         
	    <td>@item.StarRating</td>
         
	    <td>@item.Fk_HotelType_Name</td>
         
	    <td>@item.IsFreeCancellation</td>
         
	    <td>@item.IsBookWithoutCreditCard</td>
         
	    <td>@item.IsNoPrePayment</td>
         
	    <td>@item.Fk_ChainBrand_Name</td>
         
	    <td>@item.IsFeaturedProperty</td>
         
	    <td>@item.Description</td>
         
	    <td>@item.PropertyCode</td>
         
	    <td>@item.Latitude</td>
         
	    <td>@item.Longitude</td>
         
	    <td>@item.FileHotelRegistration</td>
         
	    <td>@item.BuiltYear</td>
         
	    <td>@item.NoOfRooms</td>
                  
	    <td>@item.TimeZone</td>
         
	    <td>@item.CheckInTime</td>
         
	    <td>@item.Is24HrCheckIn</td>
         
	    <td>@item.CheckOutTime</td>
         
	    <td>@item.NoOfFloors</td>
         
	    <td>@item.NoOfRestaurant</td>
         
	    <td>@item.Phone</td>
         
	    <td>@item.Mobile</td>
                  
	    <td>@item.Website</td>
         
	    <td>@item.CustomerCareNum</td>
         
	    <td>@item.Remarks</td>
         
	    <td>@item.FreezeStatus</td>
         
	    <td>@item.FreezedBy</td>
        	    <td>@if(item.VerifiedStatus == true){<span>Verified</span>}else{ <span>Pending-Verify</span>}</td>              
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.VerifiedOn)</td>
         
	    <td>@item.VerifiedBy</td>
            
	    <td>@if(item.ActiveStatus == true){<span>Activated</span>}else{ <span>Inactive</span>}</td>   
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.ActivatedOn)</td>
         
	    <td>@item.ActivatedBy</td>
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.CreatedOn)</td>
         
	    <td>@item.CreatedBy</td>
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.ModifiedOn)</td>
         
	    <td>@item.ModifiedBy</td>
         
	    <td>@item.ModificationFrequency</td>
         
	    <td>@item.GCompId</td>
         
	    <td>@item.CompId</td>
        </tr>
}


