@model WebAppColorStays.Models.ViewModel.CsHotelBlackOutDate


@{ 
    Layout = null; 
    ViewData["Action"] = "HotelBlackOutDate";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_HotelOffer_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_HotelOffer_Name)" asp-for="Fk_HotelOffer_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_HotelOffer_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.StartDate)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.StartDate)" asp-for="StartDate" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="StartDate"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.EndDate)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.EndDate)" asp-for="EndDate" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="EndDate"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>
