@model IEnumerable<WebAppColorStays.Models.ViewModel.CsPhoto>
@{
    Layout = null;
}

@if (Model.Count() > 0)
{
    <div style="height: 395px;overflow: auto;">
        @foreach (var item in Model)
        {
           
            <div class="MnTp10 MnBm18 TtAnCr Pg7">
                <b>Name:- </b><span>@item.Title</span><br />
                <img src="@item.ImageUrl" class="img-responsive" style="width:200px; height:200px;">
            </div>
            @if (ViewBag.ShowBtn != "false")
            {
                <div class="MnTp10 MnBm18 TtAnCr Pg7" style="margin-top: 10px; margin-bottom: 10px;">
                    <input type="button" onclick="DeleteImg('@item.Id','@item.Fk_Country_Name','@item.Title')" value="Delete this!" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
                </div>
            }
        }
    </div>
}
else
{
    <h3 class="MnTp10 MnBm18 Br2_Cr BrRs20 CrBrWe TtAnCr Pg7 HrCrTe">
        Image not Exists!
    </h3>
}