@model WebAppColorStays.Models.ViewModel.CsPackageExclusion


@{ 
    Layout = null; 
    ViewData["Action"] = "PackageExclusion";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Package_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="Package Name" type="text" id="SearchPackage" asp-for="Package" autocomplete="off" required onchange="ClearData('SearchPackage','Fk_Package_Name')" />
            <input type="hidden" asp-for="Fk_Package_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Package_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Exclusion)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Exclusion)" asp-for="Exclusion" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Exclusion"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>
