@model WebAppColorStays.Models.ViewModel.CsToaster


@{ 
    Layout = null; 
    ViewData["Action"] = "Toaster";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Title)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Title)" asp-for="Title" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Title"></span></div>
</div>


@if (Model != null)
{
    @if (Model.Image != null)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Image)</div>
                    <img src="@Model.Image" class="Wh50p Ht60p" />
                    <input asp-for="ImageName" type="hidden" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Image"></span></div>
        </div>
    }
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Image) (135 X 100)</div>
            <input asp-for="Image" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Image"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag)" asp-for="AltTag" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AltTag"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">Pick Color</div>
            <input class="TtBxTt15" type="color" name="PickColor" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"></div>
</div>


    <div class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BgColor)<span style="color:red;">"rgb(10 10 10/.85)" *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BgColor)" asp-for="BgColor" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="BgColor"></span></div>
    </div>
    <div class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TextColor)<span style="color:red;">"rgb(10 10 10/.85)" *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TextColor)" asp-for="TextColor" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="TextColor"></span></div>
    </div>

    <div class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ButtonBgColor)<span style="color:red;">"rgb(10 10 10/.85)" *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ButtonBgColor)" asp-for="ButtonBgColor" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="ButtonBgColor"></span></div>
    </div>

    <div class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ButtonTextColor)<span style="color:red;">"rgb(10 10 10/.85)" *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ButtonTextColor)" asp-for="ButtonTextColor" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="ButtonTextColor"></span></div>
    </div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>