@model WebAppColorStays.Models.ViewModel.CsAnswerPlace


@{ 
    Layout = null; 
    ViewData["Action"] = "AnswerPlace";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_QuestionPlace_Name)</div>
            <input class="TtBxTt14" placeholder="Question Place" type="text" id="SearchQuestionPlace" asp-for="Question" autocomplete="off" required onchange="ClearData('SearchQuestionPlace','Fk_QuestionPlace_Name')" />
            <input type="hidden" asp-for="Fk_QuestionPlace_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_QuestionPlace_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Answer)</div>
            <textarea  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Answer)" asp-for="Answer" autocomplete="off" ></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Answer"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>

