@model WebAppColorStays.Models.ViewModel.CsHotelImageVideo


@{
    Layout = null;
    ViewData["Action"] = "HotelImageVideo";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>


<form id="EditVideo"
      data-ajax="true"
      data-ajax-url="/ColorStays/HotelImageVideo/EditVideo"
      data-ajax-method="POST"
      data-ajax-loading="#loader"
      enctype="multipart/form-data"
      data-ajax-success="SuccessVoDl(data, status, xhr,'EditVideo','CreateOrEditVideo')"
      data-ajax-failure="FormAjaxFail(xhr, status, error,'EditVideo')">

    @Html.AntiForgeryToken()
    <div class="TtAnCr Pg7">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.CompId)
        @Html.HiddenFor(model => model.IsVideo)
        <input type="hidden" asp-for="Fk_Hotel_Name" id="Fk_Hotel_NameVo" />

        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.IsYouTubeVideo)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.IsYouTubeVideo)" asp-for="IsYouTubeVideo" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="IsYouTubeVideo"></span></div>
        </div>


        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Name"></span></div>
        </div>

        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.URL)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.URL)" asp-for="URL" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="URL"></span></div>
        </div>


        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Is360)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Is360)" asp-for="Is360" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Is360"></span></div>
        </div>





        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag)" asp-for="AltTag" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="AltTag"></span></div>
        </div>


        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Description)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Description)" asp-for="Description" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Description"></span></div>
        </div>
    </div>
</form>