@model WebAppColorStays.Models.ViewModel.CsAnPackage


@{ 
    Layout = null; 
    ViewData["Action"] = "AnPackage";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Package_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="Package Name" type="text" id="SearchPackage" asp-for="Package" autocomplete="off" required onchange="ClearData('SearchPackage','Fk_Package_Name')" />
            <input type="hidden" asp-for="Fk_Package_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Package_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AnNo)<span style="color:red;"> *</span></div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AnNo)" asp-for="AnNo" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AnNo"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AccordianHeading)<span style="color:red;"> *</span></div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AccordianHeading)" asp-for="AccordianHeading" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AccordianHeading"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Icon)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Icon)" asp-for="Icon" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Icon"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>