@model WebAppColorStays.CommonMethod.CsReviewPost


@{
    Layout = null;
    ViewData["Action"] = "Review";
    var fields = Convert.ToString(ViewData["Fields"]);
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>
<input type="hidden" asp-for="Condition" required />

@Html.HiddenFor(model => model.Label)
@Html.HiddenFor(model => model.IsPhotoUploaded)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">ReviewFor</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ReviewFor)" asp-for="ReviewFor" autocomplete="off" readonly />
            <input type="hidden" asp-for="Fk_ReviewFor_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ReviewFor"></span></div>
</div>
@if (fields == "Place")
{
    <div class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Place_Name)</div>
                <input class="TtBxTt14" placeholder="Place Name" type="text" id="SearchPlace" asp-for="Place" autocomplete="off" onchange="ClearData('SearchPlace', 'Fk_Place_Name')" />
                <input type="hidden" asp-for="Fk_Place_Name" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Fk_Place_Name"></span></div>
    </div>
}

@if (fields == "City")
{
    <div class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_City_Name)</div>
                <input class="TtBxTt14" placeholder="City Name" type="text" id="SearchCity" asp-for="City" autocomplete="off" onchange="ClearData('SearchCity','Fk_City_Name')" />
                <input type="hidden" asp-for="Fk_City_Name" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Fk_City_Name"></span></div>
    </div>
}
@if (fields == "State")
{
    <div class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_State_Name)</div>
                <input class="TtBxTt14" placeholder="State Name" type="text" id="SearchState" asp-for="State" autocomplete="off" onchange="ClearData('SearchState','Fk_State_Name')" />
                <input type="hidden" asp-for="Fk_State_Name" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Fk_State_Name"></span></div>
    </div>
}

@if (fields == "Country")
{
    <div class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Country_Name)</div>
                <input class="TtBxTt14" placeholder="Country Name" type="text" id="SearchCountry" asp-for="Country" autocomplete="off" onchange="ClearData('SearchCountry','Fk_Country_Name')" />
                <input type="hidden" asp-for="Fk_Country_Name" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Fk_Country_Name"></span></div>
    </div>
}
<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="@Html.DisplayNameFor(model => model.Name)" type="text" asp-for="Name" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>

@for (int i = 0; i < Model.QuestionList.OrderBy(x => x.SrNo).Count(); i++)
{
    <input type="hidden" asp-for="@Model.QuestionList[i].IsText" />
    <input type="hidden" asp-for="@Model.QuestionList[i].IsRating" />
    <input type="hidden" asp-for="@Model.QuestionList[i].IsBool" />

    @if (Model.QuestionList[i].IsRating == true)
    {
        <div class="FxRw">
            <div class="Fx50 Pg2 MnTp7 MnBm7">
                <div class="TtBxFlStDiv">
                    <div class="TtBxFlSt">
                        <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Rating)</div>
                        <select asp-for="@Model.QuestionList[i].Rating" class="TtBxTt15">
                            <option value="0">Select Rating</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="@Model.QuestionList[i].Rating"></span></div>
            </div>
            <div class="Fx50 Pg2 MnTp7 MnBm7">
                <div class="TtBxFlStDiv">
                    <div class="TtBxFlSt">
                        <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.QuestionName)</div>
                        <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.QuestionName)" asp-for="@Model.QuestionList[i].QuestionName" autocomplete="off" readonly />
                        <input type="hidden" asp-for="@Model.QuestionList[i].QuestionId" />
                        <input type="hidden" asp-for="@Model.QuestionList[i].ReviewId" />
                        <input type="hidden" asp-for="@Model.QuestionList[i].RowVersion" />
                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="@Model.QuestionList[i].QuestionName"></span></div>
            </div>
        </div>
    }

    @if (Model.QuestionList[i].IsBool == true)
    {
        <div class="FxRw">
            <div class="Fx50 Pg2 MnTp7 MnBm7">
                <div class="TtBxFlStDiv">
                    <div class="TtBxFlSt">
                        <input class="SeIt1o15" type="checkbox" asp-for="@Model.QuestionList[i].IsBoolReview">
                        &nbsp;Is Bool
                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="@Model.QuestionList[i].IsBoolReview"></span></div>
            </div>

            <div class="Fx50 Pg2 MnTp7 MnBm7">
                <div class="TtBxFlStDiv">
                    <div class="TtBxFlSt">
                        <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.QuestionName)</div>
                        <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.QuestionName)" asp-for="@Model.QuestionList[i].QuestionName" autocomplete="off" readonly />
                        <input type="hidden" asp-for="@Model.QuestionList[i].QuestionId" />
                        <input type="hidden" asp-for="@Model.QuestionList[i].ReviewId" />
                        <input type="hidden" asp-for="@Model.QuestionList[i].RowVersion" />

                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="@Model.QuestionList[i].QuestionName"></span></div>
            </div>
        </div>
    }

    @if (Model.QuestionList[i].IsText == true)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.QuestionName)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.QuestionName)" asp-for="@Model.QuestionList[i].QuestionName" autocomplete="off" readonly />
                    <input type="hidden" asp-for="@Model.QuestionList[i].QuestionId" />
                    <input type="hidden" asp-for="@Model.QuestionList[i].ReviewId" />
                    <input type="hidden" asp-for="@Model.QuestionList[i].RowVersion" />

                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="@Model.QuestionList[i].QuestionName"></span></div>
        </div>

        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Text)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Text)" asp-for="@Model.QuestionList[i].Text" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="@Model.QuestionList[i].Text"></span></div>
        </div>

    }
}
