@model WebAppColorStays.Models.ViewModel.CsPackageType


@{
    Layout = null;
    ViewData["Action"] = "PackageType";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)
@Html.HiddenFor(model => model.ImageName)
@Html.HiddenFor(model => model.AltTag)
@Html.HiddenFor(model => model.BigImage)
@Html.HiddenFor(model => model.AltTag1)

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Description)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Description)" asp-for="Description" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Description"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.StartingPrice)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.StartingPrice)" asp-for="StartingPrice" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="StartingPrice"></span></div>
</div>




<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.EndPrice)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.EndPrice)" asp-for="EndPrice" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="EndPrice"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>