@model WebAppColorStays.Models.ViewModel.CsPackageType
@{
    Layout = null;
}

<div style="display:none">responseformUT SuccessPop</div>

@if (Model.ImageName != null)
{
    <div>

        <div class="MnTp10 MnBm18 Br2_Cr BrRs20 CrBrWe TtAnCr Pg7 HrCrTe">

            <b>AltTag:- </b><span>@Model.AltTag</span><br />
            <b>Name:- </b><span>@Model.ImageName</span><br />
        </div>
        <div class="MnTp10 MnBm18 TtAnCr Pg7">
            <img src="@Model.ImageUrl" class="img-responsive" style="width:200px; height:200px;">
        </div>
        @if (ViewBag.ShowBtn != "false")
        {
            <div class="MnTp10 MnBm18 TtAnCr Pg7" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="button" onclick="DeleteImg('@Model.Id', 'Image','@Model.ImageName')" value="Delete this!" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
            </div>
        }

    </div>
}

@if (Model.BigImage != null)
{
    <div>

        <div class="MnTp10 MnBm18 Br2_Cr BrRs20 CrBrWe TtAnCr Pg7 HrCrTe">

            <b>AltTag:- </b><span>@Model.AltTag1</span><br />
            <b>Name:- </b><span>@Model.BigImage</span><br />
        </div>
        <div class="MnTp10 MnBm18 TtAnCr Pg7">
            <video src="@Model.ImageUrl1" class="img-responsive" style="width:200px; height:200px;" preload="true" autoplay="autoplay" loop="loop"></video>
        </div>
        @if (ViewBag.ShowBtn != "false")
        {
            <div class="MnTp10 MnBm18 TtAnCr Pg7" style="margin-top: 10px; margin-bottom: 10px;">
                <input type="button" onclick="DeleteImg('@Model.Id', 'BigImage','@Model.BigImage')" value="Delete this!" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
            </div>
        }

    </div>
}
@if (Model.ImageUrl == null && Model.ImageUrl1 == null)
{
    <h3 class="MnTp10 MnBm18 Br2_Cr BrRs20 CrBrWe TtAnCr Pg7 HrCrTe">
        Image not Exists!
    </h3>
}





