@model WebAppColorStays.Models.ViewModel.CsPackage


@{ 
    Layout = null; 
    ViewData["Action"] = "Package";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)
@Html.HiddenFor(model => model.ModificationFrequency)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_PackageType_Name)<span style="color:red;"> *</span></div>
            <select asp-for="Fk_PackageType_Name" asp-items="@await ViewBag.PackageType" class="TtBxTt15" required>
                <option value="">Select Package Type</option>
            </select>        
            </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_PackageType_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Currency_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="Currency Name" type="text" id="SearchCurrency" asp-for="Currency" autocomplete="off" required onchange="ClearData1('SearchCurrency', 'Fk_Currency_Name')" />
            <input type="hidden" asp-for="Fk_Currency_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Currency_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_CancellationPyTe_Name)<span style="color:red;"> *</span></div>
            <select asp-for="Fk_CancellationPyTe_Name" asp-items="@await ViewBag.PolicyType" class="TtBxTt15" required>
                <option value="">Select PolicyType</option>
            </select>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_CancellationPyTe_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_TermsAndCondition_Name)<span style="color:red;"> *</span></div>
            <select asp-for="Fk_TermsAndCondition_Name" asp-items="@await ViewBag.Terms" class="TtBxTt15" required>
                <option value="">Select Terms</option>
            </select>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_TermsAndCondition_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Location_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="Location Name" type="text" id="SearchLocation" asp-for="Location" autocomplete="off" required onchange="ClearData('SearchLocation', 'Fk_Location_Name','Fk_City_Name', 'Fk_State_Name', 'Fk_Country_Name')" />
            <input type="hidden" asp-for="Fk_Location_Name" required />
            <input type="hidden" asp-for="Fk_City_Name" required />
            <input type="hidden" asp-for="Fk_State_Name" required />
            <input type="hidden" asp-for="Fk_Country_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Location_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.URL)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.URL)" asp-for="URL" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="URL"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>
<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Description)<span style="color:red;"> *</span></div>
            <textarea class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Description)" asp-for="Description" autocomplete="off" required ></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Description"></span></div>
</div>

@* <div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Transport)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Transport)" asp-for="Transport" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Transport"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Stay)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Stay)" asp-for="Stay" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Stay"></span></div>
</div> *@


@if (Model != null)
{
    @if (Model.CoverImage != null)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverImage)</div>
                    <img src="@Model.CoverImage" class="Wh60p" />
                    <input asp-for="CoverImageName" type="hidden" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="CoverImage"></span></div>
        </div>
    }
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverImage) (216 X 270)</div>
            <input asp-for="CoverImage" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CoverImage"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverAltTag)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.CoverAltTag)" asp-for="CoverAltTag" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CoverAltTag"></span></div>
</div>

<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Duration)<span style="color:red;"> *</span></div>
                <input  class="TtBxTt15" placeholder="No Of Night" asp-for="Duration" autocomplete="off" required/>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Duration"></span></div>
    </div>
     <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfPerson)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="No Of Person" asp-for="NoOfPerson" autocomplete="off" required/>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="NoOfPerson"></span></div>
    </div>

</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.MapLink)<span style="color:red;">*</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.MapLink)" asp-for="MapLink" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="MapLink"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.LocationDuration)<span style="color:red;"> * Delhi(0N)-> Shimla(2N)-> Manali(3N)</span></div>
            <input class="TtBxTt15" placeholder="Delhi(0N)-> Shimla(2N)-> Manali(3N)" asp-for="LocationDuration" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="LocationDuration"></span></div>
</div>


<div class="FxRw">
    <div class="Fx33 Pg1 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Price)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Price)" asp-for="Price" autocomplete="off" required onchange="GetPriceDis(this.value)" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Price"></span></div>
    </div>

    <div class=" Fx33 Pg1 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Discount) Rate %</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Discount)" asp-for="Discount" autocomplete="off" onchange="GetPrice(this.value)" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Discount"></span></div>
    </div>

    <div class=" Fx33 Pg1 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PriceAfterDiscount)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PriceAfterDiscount)" asp-for="PriceAfterDiscount" autocomplete="off" readonly/>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="PriceAfterDiscount"></span></div>
    </div>

</div>


<div class="FxRw">
    <div class="Fx33 Pg1 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="IsTopSelling" />
                &nbsp;Top Selling
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="IsTopSelling"></span></div>
    </div>
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TopStart)</div>
                <select asp-for="TopStart" class="TtBxTt15" required>
                    <option value="">Select Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="TopStart"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TopEnd)</div>
                <select asp-for="TopEnd" class="TtBxTt15" required>
                    <option value="">Select Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                    <option value="April">April</option>
                    <option value="May">May</option>
                    <option value="June">June</option>
                    <option value="July">July</option>
                    <option value="August">August</option>
                    <option value="September">September</option>
                    <option value="October">October</option>
                    <option value="November">November</option>
                    <option value="December">December</option>
                </select>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="TopEnd"></span></div>
    </div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video)" asp-for="Video" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video"></span></div>
</div>


<div class="FxRw">
    <div class="Fx25 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Breakfast)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Breakfast" />
                &nbsp;Breakfast
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Breakfast"></span></div>
    </div>


    <div class="Fx25 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Lunch)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Lunch" />
                &nbsp;Lunch
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Lunch"></span></div>
    </div>


    <div class="Fx25 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Dinner)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Dinner" />
                &nbsp;Dinner
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Dinner"></span></div>
    </div>

    <div class="Fx25 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Dinner)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Sightseeing" />
                &nbsp;Sightseeing
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Sightseeing"></span></div>
    </div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOTitle) &nbsp;<span> Max Char 70 </span> <span id="SeotitleSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOTitle)" asp-for="SEOTitle" autocomplete="off" required onkeyup="CrCtIt('SEOTitle','SeotitleSID',70)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOTitle"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEODescription) &nbsp;<span> Max Char 170 </span> <span id="SeoDescSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEODescription)" asp-for="SEODescription" autocomplete="off" required onkeyup="CrCtIt('SEODescription','SeoDescSID',170)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEODescription"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOKeywords)<span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOKeywords)" asp-for="SEOKeywords" autocomplete="off" required></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOKeywords"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.StructuredData)</div>
            <textarea class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.StructuredData)" asp-for="StructuredData" autocomplete="off"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="StructuredData"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>