@model WebAppColorStays.Models.ViewModel.CsPackageItinerary


@{
    Layout = null;
    ViewData["Action"] = "Package";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@if (Model.Id == null)
{
    <input type="hidden" name="NameAction" id="NameAction" value="C" />
}
else
{
    <input type="hidden" name="NameAction" id="NameAction" value="E" />
}

<input type="hidden" id="ItineraryId" asp-for="Id" />
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)

<input type="hidden" id="PgIyId" asp-for="Fk_Package_Name" />
<input type="hidden" id="DayActivity1" asp-for="Remarks" />
<input type="hidden" id="DayActivity12" asp-for="Video" />

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.DayNo)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.DayNo)" asp-for="DayNo" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="DayNo"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.DayTitle)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.DayTitle)" asp-for="DayTitle" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="DayTitle"></span></div>
</div>


@*

<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Longitude)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Longitude)" asp-for="Longitude" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Longitude"></span></div>
    </div>


    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Latitude)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Latitude)" asp-for="Latitude" autocomplete="off" required />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Latitude"></span></div>
    </div>
</div>
*@
<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Stay)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Stay" />
                &nbsp;Stay
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Stay"></span></div>
    </div>
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Sightseen)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Sightseen" />
                &nbsp;Sightseen
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Sightseen"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Breakfast)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Breakfast" />
                &nbsp;Breakfast
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Breakfast"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Lunch)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Lunch" />
                &nbsp;Lunch
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Lunch"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                @*<div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Dinner)</div>*@
                <input class="SeIt1o15" type="checkbox" asp-for="Dinner" />
                &nbsp;Dinner
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Dinner"></span></div>
    </div>
</div>

@if (Model.ImageUrl1 != null)
{
    <div id="Img1Div" class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo1)</div>
                <div class="FxRw">
                    <div class="Fx80">
                        <img id="ImageUrl1" src="@Model.ImageUrl1" class="Wh60p" />
                        <input asp-for="Photo1" type="hidden" />
                    </div>
                    <div class="Fx20 FxCr">
                        <input type="button" onclick="DeleteIyImg('@Model.Id', 'Photo1','@Model.Photo1','@Model.Fk_Package_Name')" value="Delete" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
                    </div>
                </div>

            </div>

        </div>
        <div class="VnRd"><span asp-validation-for="Photo1"></span></div>
    </div>

}


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo1)</div>
            <input asp-for="Photo1" type="file" />
            <input asp-for="Photo1" type="hidden" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Photo1"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag1)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag1)" asp-for="AltTag1" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AltTag1"></span></div>
</div>

@if (Model.ImageUrl2 != null)
{
    <div id="Img2Div" class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo2)</div>
                <div class="FxRw">
                    <div class="Fx80">
                        <img id="ImageUrl2" src="@Model.ImageUrl2" class="Wh60p" />
                        <input asp-for="Photo2" type="hidden" />
                    </div>
                    <div class="Fx20 FxCr">
                        <input type="button" onclick="DeleteIyImg('@Model.Id', 'Photo2','@Model.Photo2', '@Model.Fk_Package_Name')" value="Delete" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
                    </div>
                </div>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Photo2"></span></div>
    </div>
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo2)</div>
            <input asp-for="Photo2" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Photo2"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag2)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag2)" asp-for="AltTag2" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AltTag2"></span></div>
</div>

@if (Model.ImageUrl3 != null)
{
    <div id="Img3Div" class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo3)</div>
                <div class="FxRw">
                    <div class="Fx80">
                        <img id="ImageUrl3" src="@Model.ImageUrl3" class="Wh60p" />
                        <input asp-for="Photo3" type="hidden" />
                    </div>
                    <div class="Fx20 FxCr">
                        <input type="button" onclick="DeleteIyImg('@Model.Id', 'Photo3','@Model.Photo3', '@Model.Fk_Package_Name')" value="Delete" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
                    </div>
                </div>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Photo3"></span></div>
    </div>
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo3)</div>
            <input asp-for="Photo3" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Photo3"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag3)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag3)" asp-for="AltTag3" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AltTag3"></span></div>
</div>

@if (Model.ImageUrl4 != null)
{
    <div id="Img4Div" class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo4)</div>
                <div class="FxRw">
                    <div class="Fx80">
                        <img id="ImageUrl4" src="@Model.ImageUrl4" class="Wh60p" />
                        <input asp-for="Photo4" type="hidden" />
                    </div>
                    <div class="Fx20 FxCr">
                        <input type="button" onclick="DeleteIyImg('@Model.Id', 'Photo4','@Model.Photo4', '@Model.Fk_Package_Name')" value="Delete" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
                    </div>
                </div>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Photo2"></span></div>
    </div>
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo4)</div>
            <input asp-for="Photo4" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Photo4"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag4)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag4)" asp-for="AltTag4" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AltTag4"></span></div>
</div>


@if (Model.ImageUrl5 != null)
{
    <div id="Img5Div" class="MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo5)</div>
                <div class="FxRw">
                    <div class="Fx80">
                        <img id="ImageUrl5" src="@Model.ImageUrl5" class="Wh60p" />
                        <input asp-for="Photo5" type="hidden" />
                    </div>
                    <div class="Fx20 FxCr">
                        <input type="button" onclick="DeleteIyImg('@Model.Id', 'Photo5','@Model.Photo5', '@Model.Fk_Package_Name')" value="Delete" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
                    </div>
                </div>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Photo5"></span></div>
    </div>
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Photo5)</div>
            <input asp-for="Photo5" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Photo5"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag5)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag5)" asp-for="AltTag5" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AltTag5"></span></div>
</div>

