@model IEnumerable<WebAppColorStays.Models.ViewModel.CsPackage>

@{
    Layout = null;
    ViewData["Action"] = "Package";
    int PageNoSelect = Convert.ToInt32(ViewData["PageNumberSelected"]);
    int PageSize = Convert.ToInt32(ViewData["PageRecordSize"]);
}

<b style="display:none" id="PaginationAt" pagenumber="@PageNoSelect" pagesize="@PageSize" netrecord="@ViewData["NetRecords"]">responseformUT SuccessPop</b>

@foreach (var item in Model)
{
    <tr>
        <td>
            @if (item.SelectStatus == true)
            {
                <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                    <input type="checkbox" ClipStatus ="Selected" id="@item.Id" value="@item.Id" name="@item.Name" class="AmIndexCheckbox SeIt1o14" />
                </span>
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-uPr" href="#" data-toggle="tooltip" data-placement="bottom" title="Mark UnStar" onclick="MultiButtonFunc('UnStar','@item.Id', '@item.Name','/ColorStays/Package')"><i class="UT-StarSolid"> </i> </a>
            }
            else
            {
                <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                    <input type="checkbox" ClipStatus ="UnSelected" id="@item.Id" value="@item.Id" name="@item.Name" class="AmIndexCheckbox SeIt1o14" />
                </span>
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-uPr" href="#" data-toggle="tooltip" data-placement="bottom" title="Mark Star" onclick="MultiButtonFunc('Star','@item.Id', '@item.Name','/ColorStays/Package')"><i class="UT-UnstarSolid"></i></a>
            }
            <a class="BnInSe15  CrBdTeBn HrTmSeo94 Cr-1Pr" href=# onclick="Details('/ColorStays/Package/Details?Id=@item.Id')" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="UT-DetailLine FtWt800"></i> </a>
            @if (item.VerifiedStatus == false && item.ActiveStatus == false && item.GlobalStatus == false)
            {
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-1Pr" href="@Url.Action("Edit", new { id=item.Id })"> <i class="UT-EditFileLine FtWt800"></i> </a>
            }
            @{
                var cr = "CrBdRd60"; if (item.ImageCount > 0) { cr = "CrBdTeBn"; }
            }
            <a class="BnInSe15 @cr HrTmSeo94 Cr-1Pr" href=# onclick="HotelImage('@item.Id');" data-toggle="tooltip" data-placement="bottom" title="Hotel Image"><i class="UT-ImageLine FtWt800"></i> </a>

        </td>
         
	    <td>@item.Name</td>
         
	    <td>@item.URL</td>

        <td>@item.Fk_PackageType_Name</td>

        <td>@item.Fk_Location_Name</td>

        <td>@item.Fk_City_Name</td>

        <td>@item.Fk_State_Name</td>

        <td>@item.Fk_Country_Name</td>

        <td>
            @if (item.Description != null && item.Description.Length > 50)
            {
                @item.Description.Substring(0, 50)
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More
                    <div class="DyNe">
                        @item.Description
                    </div>
                </div>
            }
            else
            {
                @item.Description
            }
        </td>

        <td>
            @if (item.PackageHighlight != null && item.PackageHighlight.Length > 50)
            {
                @Html.Raw(item.PackageHighlight.Substring(0, 50))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More
                    <div class="DyNe">
                        @Html.Raw(item.PackageHighlight)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.PackageHighlight)
            }
        </td>
        <td>
            @if (item.Overview != null && item.Overview.Length > 60)
            {
                @Html.Raw(item.Overview.Substring(0, 60))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More
                    <div class="DyNe">
                        @Html.Raw(item.Overview)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.Overview)
            }
        </td>
          <td>
            @if (item.NeedToKonw != null && item.NeedToKonw.Length > 50)
            {
                @Html.Raw(item.NeedToKonw.Substring(0, 50))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More
                    <div class="DyNe">
                        @Html.Raw(item.NeedToKonw)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.NeedToKonw)
            }
        </td>
         
	    <td>@item.MapLink</td>


	    <td>@item.Fk_TermsAndCondition_Name</td>
         
	    <td>@item.Fk_CancellationPyTe_Name</td>
         
	    <td>@item.NoOfPerson</td>
         
	    <td>@item.CoverImage</td>
         
	    <td>@item.CoverAltTag</td>
         
	    <td>@item.Duration</td>
         
	    <td>@item.Breakfast</td>
         
	    <td>@item.Lunch</td>
         
	    <td>@item.Dinner</td>

        <td>@item.Sightseeing</td>
        
	    <td>@item.LocationDuration</td>
         
	    <td>@item.Discount</td>

	    <td>@String.Format("{0:F}", item.Price)</td>
         
	    <td>@item.Fk_Currency_Name</td>
         
	    <td>@item.Video</td>

        <td>@item.SEOTitle</td>

        <td>@item.SEODescription</td>

        <td>@item.SEOKeywords</td>

        <td>
            @if (item.StructuredData != null && item.StructuredData.Length > 50)
            {
                @item.StructuredData.Substring(0, 50)
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More
                    <div class="DyNe">
                        @item.StructuredData
                    </div>
                </div>
            }
            else
            {
                @item.StructuredData
            }
        </td>

        <td>@item.Transport</td>

        <td>@item.Stay</td>
         
	    <td>@item.Remarks</td>
         
	    <td>@item.FreezeStatus</td>
         
	    <td>@item.FreezedBy</td>
        	    <td>@if(item.VerifiedStatus == true){<span>Verified</span>}else{ <span>Pending-Verify</span>}</td>              
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.VerifiedOn)</td>
         
	    <td>@item.VerifiedBy</td>
            
	    <td>@if(item.ActiveStatus == true){<span>Activated</span>}else{ <span>Inactive</span>}</td>   
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.ActivatedOn)</td>
         
	    <td>@item.ActivatedBy</td>
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.CreatedOn)</td>
         
	    <td>@item.CreatedBy</td>
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.ModifiedOn)</td>
         
	    <td>@item.ModifiedBy</td>
         
	    <td>@item.ModificationFrequency</td>
         
	    <td>@item.GCompId</td>
         
	    <td>@item.CompId</td>
            </tr>
}


