@model WebAppColorStays.Models.ViewModel.CsEnquiry


@{ 
    Layout = null; 
    ViewData["Action"] = "Enquiry";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Email)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Email)" asp-for="Email" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Email"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PhoneNo)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PhoneNo)" asp-for="PhoneNo" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="PhoneNo"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.MobileNo)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.MobileNo)" asp-for="MobileNo" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="MobileNo"></span></div>
</div>




<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TravellerCount)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TravellerCount)" asp-for="TravellerCount" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="TravellerCount"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Message)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Message)" asp-for="Message" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Message"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CallBackTime)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.CallBackTime)" asp-for="CallBackTime" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CallBackTime"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CallBackDate)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.CallBackDate)" asp-for="CallBackDate" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CallBackDate"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>

