@model IEnumerable<WebAppColorStays.Models.ViewModel.CsPackageItinerary>

@{
    Layout = null;
    ViewData["Action"] = "Package";
    int PageNoSelect = Convert.ToInt32(ViewData["PageNumberSelected"]);
    int PageSize = Convert.ToInt32(ViewData["PageRecordSize"]);
}

<b style="display:none" id="PaginationAt" pagenumber="@PageNoSelect" pagesize="@PageSize" netrecord="@ViewData["NetRecords"]">responseformUT SuccessPop</b>

@foreach (var item in Model)
{
    <tr>
        <td>
            @if (item.SelectStatus == true)
            {
                <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                    <input type="checkbox" ClipStatus ="Selected" id="@item.Id" value="@item.Id" name="null" class="AmIndexCheckbox SeIt1o14" />
                </span>
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-uPr" href="#" data-toggle="tooltip" data-placement="bottom" title="Mark UnStar" onclick="MultiButtonFunc('UnStar','@item.Id', 'null','/ColorStays/PackageItinerary')"><i class="UT-StarSolid"> </i> </a>
            }
            else
            {
                <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                    <input type="checkbox" ClipStatus ="UnSelected" id="@item.Id" value="@item.Id" name="null" class="AmIndexCheckbox SeIt1o14" />
                </span>
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-uPr" href="#" data-toggle="tooltip" data-placement="bottom" title="Mark Star" onclick="MultiButtonFunc('Star','@item.Id', 'null','/ColorStays/PackageItinerary')"><i class="UT-UnstarSolid"></i></a>
            }
            <a class="BnInSe15  CrBdTeBn HrTmSeo94 Cr-1Pr" href=# onclick="Details('/ColorStays/PackageItinerary/Details?Id=@item.Id')" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="UT-DetailLine FtWt800"></i> </a>
            @if (item.VerifiedStatus == false && item.ActiveStatus == false && item.GlobalStatus == false)
            {
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-1Pr" onclick="EditItinerary('@item.Id')"> <i class="UT-EditFileLine FtWt800"></i> </a>
            }
        </td>
         
	    <td>@item.Fk_Package_Name</td>
         
	    <td>@item.DayNo</td>
         
	    <td>@item.DayTitle</td>

        <td>
            @if (item.DayActivity != null && item.DayActivity.Length > 50)
            {
                @Html.Raw(item.DayActivity.Substring(0, 50))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More
                    <div class="DyNe">
                        @Html.Raw(item.DayActivity)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.DayActivity)
            }
        </td>

        <td>
            @if (item.DayActivity1 != null && item.DayActivity1.Length > 50)
            {
                @item.DayActivity1.Substring(0, 50)
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More
                    <div class="DyNe">
                        @item.DayActivity1
                    </div>
                </div>
            }
            else
            {
                @item.DayActivity1
            }
        </td>

        <td>@item.Sightseen</td>

        <td><img src="@item.ImageUrl1" class="Wh100p BrRs4" style="height:50px;object-fit:cover;" /> </td>

        <td><img src="@item.ImageUrl2" class="Wh100p BrRs4" style="height:50px;object-fit:cover;" /></td>

        <td><img src="@item.ImageUrl3" class="Wh100p BrRs4" style="height:50px;object-fit:cover;" /></td>

        <td><img src="@item.ImageUrl4" class="Wh100p BrRs4" style="height:50px;object-fit:cover;" /></td>

        <td><img src="@item.ImageUrl5" class="Wh100p BrRs4" style="height:50px;object-fit:cover;" /></td>
         
	    <td>@item.Video</td>
         
	    <td>@item.Stay</td>
         
	    <td>@item.Longitude</td>
         
	    <td>@item.Latitude</td>
         
	    <td>@item.Breakfast</td>
         
	    <td>@item.Lunch</td>
         
	    <td>@item.Dinner</td>
         
	    <td>@item.Remarks</td>
         
	    <td>@item.FreezeStatus</td>
         
	    <td>@item.FreezedBy</td>
        	    <td>@if(item.VerifiedStatus == true){<span>Verified</span>}else{ <span>Pending-Verify</span>}</td>              
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.VerifiedOn)</td>
         
	    <td>@item.VerifiedBy</td>
            
	    <td>@if(item.ActiveStatus == true){<span>Activated</span>}else{ <span>Inactive</span>}</td>   
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.ActivatedOn)</td>
         
	    <td>@item.ActivatedBy</td>
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.CreatedOn)</td>
         
	    <td>@item.CreatedBy</td>
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.ModifiedOn)</td>
         
	    <td>@item.ModifiedBy</td>
         
	    <td>@item.ModificationFrequency</td>
         
	    <td>@item.GCompId</td>
         
	    <td>@item.CompId</td>
         
            </tr>
}


