@model IEnumerable<WebAppColorStays.Models.ViewModel.CsFestival>

@{
    Layout = null;
    ViewData["Action"] = "Festival";
    int PageNoSelect = Convert.ToInt32(ViewData["PageNumberSelected"]);
    int PageSize = Convert.ToInt32(ViewData["PageRecordSize"]);
    var Type = Convert.ToString(ViewData["Type"]);
}

<b style="display:none" id="PaginationAt" pagenumber="@PageNoSelect" pagesize="@PageSize" netrecord="@ViewData["NetRecords"]">responseformUT SuccessPop</b>
@foreach (var item in Model)
{
    <tr>
        <td>
            @if (item.SelectStatus == true)
            {
                <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                    <input type="checkbox" ClipStatus ="Selected" id="@item.Id" value="@item.Id" name="@item.Name" class="AmIndexCheckbox SeIt1o14" />
                </span>
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-uPr" href="#" data-toggle="tooltip" data-placement="bottom" title="Mark UnStar" onclick="MultiButtonFunc('UnStar','@item.Id', '@item.Name','/ColorStays/Festival')"><i class="UT-StarSolid"> </i> </a>
            }
            else
            {
                <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                    <input type="checkbox" ClipStatus ="UnSelected" id="@item.Id" value="@item.Id" name="@item.Name" class="AmIndexCheckbox SeIt1o14" />
                </span>
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-uPr" href="#" data-toggle="tooltip" data-placement="bottom" title="Mark Star" onclick="MultiButtonFunc('Star','@item.Id', '@item.Name','/ColorStays/Festival')"><i class="UT-UnstarSolid"></i></a>
            }
            <a class="BnInSe15  CrBdTeBn HrTmSeo94 Cr-1Pr" href=# onclick="Details('/ColorStays/Festival/Details?Id=@item.Id&condition=@Type')" data-toggle="tooltip" data-placement="bottom" title="Detail"><i class="UT-DetailLine FtWt800"></i> </a>
            @if (item.VerifiedStatus == false && item.ActiveStatus == false && item.GlobalStatus == false)
            {
                <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-1Pr" href="@Url.Action("Edit", new { id=item.Id, condition=Type })"> <i class="UT-EditFileLine FtWt800"></i> </a>
            }
        </td>
         
	    <td>@item.Name</td>

        <td>@item.URL</td>
	    
        <td>@item.Fk_City_Name</td>
         
	    <td>@item.Fk_State_Name</td>
         
	    <td>@item.Fk_Country_Name</td>

        <td>
            @if (item.History != null && item.History.Length > 50)
            {
                @Html.Raw(item.History.Substring(0, 50))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More

                    <div class="DyNe">
                        @Html.Raw(item.History)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.History)
            }
        </td>
         
	    <td>@item.CelebratedFor</td>
         
	    <td>@item.Month</td>
         
	    <td>@item.Region</td>
         
	    <td>@item.Fk_FestivalType_Name</td>
         
	    <td>@item.TotalDays</td>

        <td>
            @if (item.Description != null && item.Description.Length > 50)
            {
                @Html.Raw(item.Description.Substring(0, 50))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More

                    <div class="DyNe">
                        @Html.Raw(item.Description)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.Description)
            }
        </td>

        <td>
            @if (item.Facts != null && item.Facts.Length > 50)
            {
                @Html.Raw(item.Facts.Substring(0, 50))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More

                    <div class="DyNe">
                        @Html.Raw(item.Facts)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.Facts)
            }
        </td>

        <td>
            @if (item.Rituals != null && item.Rituals.Length > 50)
            {
                @Html.Raw(item.Rituals.Substring(0, 50))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More

                    <div class="DyNe">
                        @Html.Raw(item.Rituals)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.Rituals)
            }
        </td>

        <td>
            @if (item.SpecialAboutFestival != null && item.SpecialAboutFestival.Length > 50)
            {
                @Html.Raw(item.SpecialAboutFestival.Substring(0, 50))
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More

                    <div class="DyNe">
                        @Html.Raw(item.SpecialAboutFestival)
                    </div>
                </div>
            }
            else
            {
                @Html.Raw(item.SpecialAboutFestival)
            }
        </td>
                  
	    <td>@item.ShowCityFestival</td>
         
	    <td>@item.ShowStateFestival</td>
         
	    <td>@item.ShowCountryFestival</td>

        <td>
            @if (item.StructuredData != null && item.StructuredData.Length > 50)
            {
                @item.StructuredData.Substring(0, 50)
                <div class="CrRd" onclick="ShowData(this.getElementsByClassName('DyNe')[0])">
                    ...Read More
                    <div class="DyNe">
                        @item.StructuredData
                    </div>
                </div>
            }
            else
            {
                @item.StructuredData
            }
        </td>

        <td>@item.SEOTitle</td>

        <td>@item.SEODescription</td>

        <td>@item.SEOKeywords</td>
         
	    <td>@item.Remarks</td>
         
	    <td>@item.FreezeStatus</td>
         
	    <td>@item.FreezedBy</td>
        	    <td>@if(item.VerifiedStatus == true){<span>Verified</span>}else{ <span>Pending-Verify</span>}</td>              
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.VerifiedOn)</td>
         
	    <td>@item.VerifiedBy</td>
            
	    <td>@if(item.ActiveStatus == true){<span>Activated</span>}else{ <span>Inactive</span>}</td>   
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.ActivatedOn)</td>
         
	    <td>@item.ActivatedBy</td>
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.CreatedOn)</td>
         
	    <td>@item.CreatedBy</td>
         
	    <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", item.ModifiedOn)</td>
         
	    <td>@item.ModifiedBy</td>
         
	    <td>@item.ModificationFrequency</td>
         
	    <td>@item.GCompId</td>
         
	    <td>@item.CompId</td>
            </tr>
}


