@model WebAppColorStays.Models.ViewModel.CsRestaurantVideo


@{ 
    Layout = null; 
    ViewData["Action"] = "RestaurantVideo";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Restaurant_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="Restaurant Name" type="text" id="SearchRestaurant" asp-for="Restaurant" autocomplete="off" required onchange="ClearData('SearchRestaurant', 'Fk_Restaurant_Name')" />
            <input type="hidden" asp-for="Fk_Restaurant_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Restaurant_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="FxRw">
    <div class="Fx50 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Food)</div>
                @Html.CheckBoxFor(x => x.Food, htmlAttributes : new { id = "Food", @Class = "TtBxTt15"})
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Food"></span></div>
    </div>

    <div class="Fx50 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Infrastructure)</div>
                @Html.CheckBoxFor(x => x.Infrastructure, htmlAttributes : new { id = "Infrastructure", @Class = "TtBxTt15"})
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Infrastructure"></span></div>
    </div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>