@model WebAppColorStays.Models.ViewModel.CsCancellationRefund


@{ 
    Layout = null; 
    ViewData["Action"] = "CancellationRefund";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_CancellationPolicy_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="Cancellation Policy" type="text" id="SearchCancellationPolicy" asp-for="CancellationPolicy" autocomplete="off" required onchange="ClearData('SearchCancellationPolicy', 'Fk_CancellationPolicy_Name')" />
            <input type="hidden" asp-for="Fk_CancellationPolicy_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_CancellationPolicy_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfDays)<span style="color:red;"> *</span></div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfDays)" asp-for="NoOfDays" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="NoOfDays"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Refund)<span style="color:red;"> *</span></div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Refund)" asp-for="Refund" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Refund"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>

