@model WebAppColorStays.Models.ViewModel.CsHighlight


@{ 
    Layout = null; 
    ViewData["Action"] = "Highlight";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Place_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_Place_Name)" asp-for="Fk_Place_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Place_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_City_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_City_Name)" asp-for="Fk_City_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_City_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_State_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_State_Name)" asp-for="Fk_State_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_State_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Country_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_Country_Name)" asp-for="Fk_Country_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Country_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_PlaceType_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_PlaceType_Name)" asp-for="Fk_PlaceType_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_PlaceType_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShowPlaceHighlight)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ShowPlaceHighlight)" asp-for="ShowPlaceHighlight" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ShowPlaceHighlight"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShowCityHighlight)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ShowCityHighlight)" asp-for="ShowCityHighlight" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ShowCityHighlight"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShowStateHighlight)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ShowStateHighlight)" asp-for="ShowStateHighlight" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ShowStateHighlight"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShowCountryHighlight)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ShowCountryHighlight)" asp-for="ShowCountryHighlight" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ShowCountryHighlight"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TimeToVisit)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TimeToVisit)" asp-for="TimeToVisit" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="TimeToVisit"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Crowd)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Crowd)" asp-for="Crowd" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Crowd"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Seasonal)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Seasonal)" asp-for="Seasonal" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Seasonal"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Longitude)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Longitude)" asp-for="Longitude" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Longitude"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Latitude)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Latitude)" asp-for="Latitude" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Latitude"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Ratings)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Ratings)" asp-for="Ratings" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Ratings"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PinCode)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PinCode)" asp-for="PinCode" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="PinCode"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Rank)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Rank)" asp-for="Rank" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Rank"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.History)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.History)" asp-for="History" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="History"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Facts)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Facts)" asp-for="Facts" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Facts"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Stories)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Stories)" asp-for="Stories" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Stories"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TopThingsToKnow)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TopThingsToKnow)" asp-for="TopThingsToKnow" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="TopThingsToKnow"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Description)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Description)" asp-for="Description" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Description"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>
