@model WebAppColorStays.Models.ViewModel.CsSEOHotelHyperLink


@{ 
    Layout = null; 
    ViewData["Action"] = "SEOHotelHyperLink";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Location_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="Location Name" type="text" id="SearchLocation" asp-for="Location" autocomplete="off" required onchange="ClearData('SearchLocation','Fk_Location_Name', 'Fk_Country_Name')" />
            <input type="hidden" asp-for="Fk_Location_Name" required />
            <input type="hidden" asp-for="Fk_City_Name" required />
            <input type="hidden" asp-for="Fk_Country_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Location_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.URL)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.URL)" asp-for="URL" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="URL"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TagLine)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TagLine)" asp-for="TagLine" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="TagLine"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Heading1)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Heading1)" asp-for="Heading1" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Heading1"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Heading2)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Heading2)" asp-for="Heading2" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Heading2"></span></div>
</div>



@if (Model != null)
{
    @if (Model.CoverImage != null)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverImage)</div>
                    <img src="@Model.CoverImage" class="Wh60p" />
                    <input asp-for="CoverImageName" type="hidden" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="CoverImage"></span></div>
        </div>
    }
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverImage) (1262 X 215)</div>
            <input asp-for="CoverImage" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CoverImage"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverAltTag)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.CoverAltTag)" asp-for="CoverAltTag" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CoverAltTag"></span></div>
</div>


@if (Model != null)
{
    @if (Model.BannerImage != null)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BannerImage)</div>
                    <img src="@Model.BannerImage" class="Wh60p" />
                    <input asp-for="BannerImageName" type="hidden" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="BannerImage"></span></div>
        </div>
    }
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BannerImage) (350 X 250)</div>
            <input asp-for="BannerImage" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BannerImage"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BannerAltTag)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BannerAltTag)" asp-for="BannerAltTag" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BannerAltTag"></span></div>
</div>




<div class="Pg2 MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.IsInBanner)</div>
            <input class="TtBxTt15" placeholder="Show Hotel link in Main Drop Down" asp-for="IsInBanner" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="IsInBanner"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video)" asp-for="Video" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video"></span></div>
</div>

@if (Model != null)
{
    @if (Model.VideoImage != null)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.VideoImage)</div>
                    <img src="@Model.VideoImage" class="Wh60p" />
                    <input asp-for="VideoImageName" type="hidden" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="VideoImage"></span></div>
        </div>
    }
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.VideoImage)</div>
            <input asp-for="VideoImage" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="VideoImage"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.VideoImageAltTag)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.VideoImageAltTag)" asp-for="VideoImageAltTag" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="VideoImageAltTag"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_HotelType_Name)</div>
            <select asp-for="Fk_HotelType_Name" asp-items="@await ViewBag.HotelType" class="TtBxTt15">
                <option value="">Select HotelType</option>
            </select>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_HotelType_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.StarRating)</div>
            <select asp-for="StarRating" class="TtBxTt15">
                <option value="">Select Star Rating</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="StarRating"></span></div>
</div>


<div class="DyFx">
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BudgetHotels)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BudgetHotels)" asp-for="BudgetHotels" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="BudgetHotels"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.LuxuryHotels)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.LuxuryHotels)" asp-for="LuxuryHotels" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="LuxuryHotels"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PremiumHotels)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PremiumHotels)" asp-for="PremiumHotels" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="PremiumHotels"></span></div>
    </div>
</div>


<div class="DyFx">
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Spa)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Spa)" asp-for="Spa" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Spa"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Parking)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Parking)" asp-for="Parking" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Parking"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.WiFi)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.WiFi)" asp-for="WiFi" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="WiFi"></span></div>
    </div>
</div>


<div class="DyFx">
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Kitchenette)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Kitchenette)" asp-for="Kitchenette" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Kitchenette"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SwimmingPool)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.SwimmingPool)" asp-for="SwimmingPool" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="SwimmingPool"></span></div>
    </div>


    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Under1000)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Under1000)" asp-for="Under1000" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Under1000"></span></div>
    </div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOTitle) &nbsp;<span> Max Char 70 </span> <span id="SeotitleSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOTitle)" asp-for="SEOTitle" autocomplete="off" required onkeyup="CrCtIt('SEOTitle','SeotitleSID',70)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOTitle"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEODescription) &nbsp;<span> Max Char 170 </span> <span id="SeoDescSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEODescription)" asp-for="SEODescription" autocomplete="off" required onkeyup="CrCtIt('SEODescription','SeoDescSID',170)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEODescription"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOKeywords)<span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOKeywords)" asp-for="SEOKeywords" autocomplete="off" required></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOKeywords"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.StructuredData)</div>
            <textarea class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.StructuredData)" asp-for="StructuredData" autocomplete="off"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="StructuredData"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>
