@model WebAppColorStays.Models.ViewModel.CsCity
@{ 
    Layout = null; 
    ViewData["Action"] = "City";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_State_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="State Name" type="text" id="SearchState" asp-for="State" autocomplete="off" required onchange="ClearData('SearchState','Fk_State_Name','Fk_Country_Name')" />
            <input type="hidden" asp-for="Fk_State_Name" required />
            <input type="hidden" asp-for="Fk_Country_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_State_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Terrain_Name)<span style="color:red;"> *</span></div>
            <select asp-for="Fk_Terrain_Name" asp-items="@await ViewBag.Terrain" class="TtBxTt15" required>
                <option value="">Select Terrain</option>
            </select>  
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Terrain_Name"></span></div>
</div>



<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.URL)<span style="color:red;"> *</span></div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.URL)" asp-for="URL" autocomplete="off" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="URL"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)<span style="color:red;"> *</span></div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Longitude)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Longitude)" asp-for="Longitude" autocomplete="off" required/>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Longitude"></span></div>
    </div>


    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Latitude)<span style="color:red;"> *</span></div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Latitude)" asp-for="Latitude" autocomplete="off" required/>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Latitude"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">
                    @Html.DisplayNameFor(model => model.Area) &nbsp;<span>Km &sup2 </span>
                </div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Area)" asp-for="Area" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Area"></span></div>
    </div>

    <div class=" Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.MonthTemperature)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.MonthTemperature)" asp-for="MonthTemperature" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="MonthTemperature"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Rank)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Rank)" asp-for="Rank" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Rank"></span></div>
    </div>
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="PopularDestination">
                &nbsp;Popular Destination
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Rank"></span></div>
    </div>

</div>

<div class="FxRw">
    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Rating)<span style="color:red;"> *</span></div>
                <select asp-for="Rating" class="TtBxTt15" required>
                    <option value="">Select Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="Rating"></span></div>
    </div>

    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfDays)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfDays)" asp-for="NoOfDays" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="NoOfDays"></span></div>
    </div>

    <div class="Fx33 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfPlaces)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfPlaces)" asp-for="NoOfPlaces" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="NoOfPlaces"></span></div>
    </div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Video)</div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Video)" asp-for="Video" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Video"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ClothingToCarry)</div>
            <textarea  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ClothingToCarry)" asp-for="ClothingToCarry" autocomplete="off"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ClothingToCarry"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Footwear)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Footwear)" asp-for="Footwear" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Footwear"></span></div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PeakSeason)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PeakSeason)" asp-for="PeakSeason" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="PeakSeason"></span></div>
    </div>

    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OffSeason)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OffSeason)" asp-for="OffSeason" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="OffSeason"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.MidSeason)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.MidSeason)" asp-for="MidSeason" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="MidSeason"></span></div>
    </div>

    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.LowestPackage)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.LowestPackage)" asp-for="LowestPackage" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="LowestPackage"></span></div>
    </div>
</div>


<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PinCode)</div>
                <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PinCode)" asp-for="PinCode" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="PinCode"></span></div>
    </div>
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TelephoneCode)</div>
                <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TelephoneCode)" asp-for="TelephoneCode" autocomplete="off" />
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="TelephoneCode"></span></div>
    </div>
</div>



<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OurTips1)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OurTips1)" asp-for="OurTips1" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OurTips1"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OurTips2)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OurTips2)" asp-for="OurTips2" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OurTips2"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OurTips3)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OurTips3)" asp-for="OurTips3" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OurTips3"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OutTips4)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OutTips4)" asp-for="OutTips4" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OutTips4"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OurTips5)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OurTips5)" asp-for="OurTips5" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OurTips5"></span></div>
</div>



<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Itinerary)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Itinerary)" asp-for="Itinerary" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Itinerary"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BestTimeToVisit)</div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.BestTimeToVisit)" asp-for="BestTimeToVisit" autocomplete="off"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BestTimeToVisit"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOTitle) &nbsp;<span> Max Char 70 </span> <span id="SeotitleSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOTitle)" asp-for="SEOTitle" autocomplete="off" required onkeyup="CrCtIt('SEOTitle','SeotitleSID',70)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOTitle"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEODescription) &nbsp;<span> Max Char 170 </span> <span id="SeoDescSID" class="CrBdRd70 CrWe BrRs3"></span><span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEODescription)" asp-for="SEODescription" autocomplete="off" required onkeyup="CrCtIt('SEODescription','SeoDescSID',170)"></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEODescription"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOKeywords)<span style="color:red;"> *</span></div>
            <textarea class="TtAaTt15" placeholder="@Html.DisplayNameFor(model => model.SEOKeywords)" asp-for="SEOKeywords" autocomplete="off" required></textarea>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOKeywords"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>