@model WebAppColorStays.Models.ViewModel.CsCity


@{ 
    Layout = null; 
    ViewData["Action"] = "City";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_State_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_State_Name)" asp-for="Fk_State_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_State_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.URL)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.URL)" asp-for="URL" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="URL"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Area)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Area)" asp-for="Area" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Area"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.History)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.History)" asp-for="History" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="History"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fact)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fact)" asp-for="Fact" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fact"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Stoories)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Stoories)" asp-for="Stoories" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Stoories"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Longitude)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Longitude)" asp-for="Longitude" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Longitude"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Latitude)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Latitude)" asp-for="Latitude" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Latitude"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Rank)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Rank)" asp-for="Rank" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Rank"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfDays)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfDays)" asp-for="NoOfDays" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="NoOfDays"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfPlaces)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfPlaces)" asp-for="NoOfPlaces" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="NoOfPlaces"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.MonthTemperature)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.MonthTemperature)" asp-for="MonthTemperature" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="MonthTemperature"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ClothingToCarry)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ClothingToCarry)" asp-for="ClothingToCarry" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ClothingToCarry"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Footwear)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Footwear)" asp-for="Footwear" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Footwear"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_Terrain_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_Terrain_Name)" asp-for="Fk_Terrain_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_Terrain_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PeakSeason)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PeakSeason)" asp-for="PeakSeason" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="PeakSeason"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OffSeason)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OffSeason)" asp-for="OffSeason" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OffSeason"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.MidSeason)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.MidSeason)" asp-for="MidSeason" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="MidSeason"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Rating)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Rating)" asp-for="Rating" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Rating"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.LowestPackage)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.LowestPackage)" asp-for="LowestPackage" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="LowestPackage"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PinCode)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PinCode)" asp-for="PinCode" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="PinCode"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OurTips1)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OurTips1)" asp-for="OurTips1" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OurTips1"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OurTips2)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OurTips2)" asp-for="OurTips2" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OurTips2"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OurTips3)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OurTips3)" asp-for="OurTips3" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OurTips3"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OutTips4)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OutTips4)" asp-for="OutTips4" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OutTips4"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.OurTips5)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.OurTips5)" asp-for="OurTips5" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="OurTips5"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NightLife)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NightLife)" asp-for="NightLife" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="NightLife"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TelephoneCode)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TelephoneCode)" asp-for="TelephoneCode" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="TelephoneCode"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.TopThingsToKnow)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.TopThingsToKnow)" asp-for="TopThingsToKnow" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="TopThingsToKnow"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Itinerary)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Itinerary)" asp-for="Itinerary" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Itinerary"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BestTimeToGo1)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo1)" asp-for="BestTimeToGo1" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BestTimeToGo1"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BestTimeToGo2)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo2)" asp-for="BestTimeToGo2" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BestTimeToGo2"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BestTimeToGo3)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo3)" asp-for="BestTimeToGo3" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BestTimeToGo3"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BestTimeToGo4)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo4)" asp-for="BestTimeToGo4" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BestTimeToGo4"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BestTimeToGo5)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo5)" asp-for="BestTimeToGo5" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BestTimeToGo5"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>

