@model IEnumerable<WebAppColorStays.Models.ViewModel.CsCity>


@{
    Layout = null;
    ViewData["Action"] = "City";
}

<div style="color:red; font-weight:bold; font-size:15px;"> @ViewBag.Message</div>

<div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
    <div id="PagenationShow">
        @await Html.PartialAsync("_Pagination")
    </div>

    <div class="Wh100p OwAo" style="height:70vh;">
        <table class="TeStrip TeBr TeFxCl1" id="TeUT">
            <thead class="TeFxHd">
                <form id="TableSearchID">
                    <tr>
                        <td class="CrBdWe94">
                            @if (ViewData["AnName"] == "Create") { <button type="button" class="BnCe28 CrBdWe94 MnLt7 SwBxIt1Dv-Vn1 HrTmRe360" onclick="location.href='/ColorStays/City/Create'"><i class="UT-List-OLine"></i></button> }
                            else if(ViewData["AnName"] == "Edit") {  <button type="button" class="BnCe28 CrBdWe94 MnLt7 SwBxIt1Dv-Vn1 HrTmRe360" onclick="location.href='/ColorStays/City/Edit?id='+'@ViewData["Id"]'"><i class="UT-List-OLine"></i></button>  }
                            else { <button type="button" class="BnCe28 CrBdWe94 MnLt7 SwBxIt1Dv-Vn1 HrTmRe360" onclick="location.href='/ColorStays/City/Index'"><i class="UT-List-OLine"></i></button>  }
                            <button type="button" class="BnCe28 CrBdWe94 MnLt7 SwBxIt1Dv-Vn1 HrTmRe360" onclick="SearchClear('TeUT')"><i class="UT-ClearDocument"></i></button>
                            <button type="button" class="BnCe28 CrBdWe94 MnLt7 SwBxIt1Dv-Vn1 HrTmRe360" onclick="FormSubmit('/ColorStays/City/TableSearch','TableSearchID',TableSuccessFn)"><i class="UT-SearchRightSolid"></i></button>
                        </td>
                    
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Fk_State_Name)" name="Fk_State_Name" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.URL)" name="URL" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Name)" name="Name" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Area)" name="Area" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.History)" name="History" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Fact)" name="Fact" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Stoories)" name="Stoories" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Longitude)" name="Longitude" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Latitude)" name="Latitude" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Rank)" name="Rank" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.NoOfDays)" name="NoOfDays" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.NoOfPlaces)" name="NoOfPlaces" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.MonthTemperature)" name="MonthTemperature" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.ClothingToCarry)" name="ClothingToCarry" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Footwear)" name="Footwear" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Fk_Terrain_Name)" name="Fk_Terrain_Name" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.PeakSeason)" name="PeakSeason" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.OffSeason)" name="OffSeason" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.MidSeason)" name="MidSeason" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Rating)" name="Rating" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.LowestPackage)" name="LowestPackage" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.PinCode)" name="PinCode" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.OurTips1)" name="OurTips1" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.OurTips2)" name="OurTips2" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.OurTips3)" name="OurTips3" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.OutTips4)" name="OutTips4" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.OurTips5)" name="OurTips5" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.NightLife)" name="NightLife" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.TelephoneCode)" name="TelephoneCode" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.TopThingsToKnow)" name="TopThingsToKnow" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Fk_Airport_Name)" name="Fk_Airport_Name" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Fk_Railway_Name)" name="Fk_Railway_Name" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Itinerary)" name="Itinerary" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo1)" name="BestTimeToGo1" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo2)" name="BestTimeToGo2" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo3)" name="BestTimeToGo3" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo4)" name="BestTimeToGo4" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.BestTimeToGo5)" name="BestTimeToGo5" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.Remarks)" name="Remarks" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.FreezeStatus)" name="FreezeStatus" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.FreezedBy)" name="FreezedBy" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.VerifiedStatus)" name="VerifiedStatus" autocomplete="off"/>
                        </td>
                                                <td>
                           <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.VerifiedOn)" name="VerifiedOn" autocomplete="off" id="VerifiedOn" UTDate="D-MM-YYYY" onclick="ShowCalender('VerifiedOn','Date')"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.VerifiedBy)" name="VerifiedBy" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.ActiveStatus)" name="ActiveStatus" autocomplete="off"/>
                        </td>
                                                <td>
                           <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.ActivatedOn)" name="ActivatedOn" autocomplete="off" id="ActivatedOn" UTDate="D-MM-YYYY" onclick="ShowCalender('ActivatedOn','Date')"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.ActivatedBy)" name="ActivatedBy" autocomplete="off"/>
                        </td>
                                                <td>
                           <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.CreatedOn)" name="CreatedOn" autocomplete="off" id="CreatedOn" UTDate="D-MM-YYYY" onclick="ShowCalender('CreatedOn','Date')"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.CreatedBy)" name="CreatedBy" autocomplete="off"/>
                        </td>
                                                <td>
                           <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.ModifiedOn)" name="ModifiedOn" autocomplete="off" id="ModifiedOn" UTDate="D-MM-YYYY" onclick="ShowCalender('ModifiedOn','Date')"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.ModifiedBy)" name="ModifiedBy" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.ModificationFrequency)" name="ModificationFrequency" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.GCompId)" name="GCompId" autocomplete="off"/>
                        </td>
                        
                        <td>
                            <input class="TtBxTt15" type="text" placeholder="@Html.DisplayNameFor(model => model.CompId)" name="CompId" autocomplete="off"/>
                        </td>
                                            </tr>
                </form>
                <tr>
                    <th>
                        <span class="BnInSe14  CrBdTeBn HrTmSeo94 Cr-uPr">
                            <input type="checkbox" class="SeIt1o14" onclick="AmSelectEntries();" id="AmIndexCheckBoxThId" />
                        </span>
                        <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-1Pr" href="#" title="Mark UnStar" onclick="MultiButtonFunc('UnStar','','','/ColorStays/City')"><i class="UT-UnstarSolid"></i></a>
                        <a class="BnInSe17  CrBdTeBn HrTmSeo94 Cr-1Pr" href="#" title="Mark Star" onclick="MultiButtonFunc('Star','','','/ColorStays/City')"> <i class="UT-StarSolid"></i></a>
                    </th>
                                        <th> @Html.DisplayNameFor(model => model.Fk_State_Name) </th>       
                                        <th> @Html.DisplayNameFor(model => model.URL) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Name) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Area) </th>       
                                        <th> @Html.DisplayNameFor(model => model.History) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Fact) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Stoories) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Longitude) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Latitude) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Rank) </th>       
                                        <th> @Html.DisplayNameFor(model => model.NoOfDays) </th>       
                                        <th> @Html.DisplayNameFor(model => model.NoOfPlaces) </th>       
                                        <th> @Html.DisplayNameFor(model => model.MonthTemperature) </th>       
                                        <th> @Html.DisplayNameFor(model => model.ClothingToCarry) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Footwear) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Fk_Terrain_Name) </th>       
                                        <th> @Html.DisplayNameFor(model => model.PeakSeason) </th>       
                                        <th> @Html.DisplayNameFor(model => model.OffSeason) </th>       
                                        <th> @Html.DisplayNameFor(model => model.MidSeason) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Rating) </th>       
                                        <th> @Html.DisplayNameFor(model => model.LowestPackage) </th>       
                                        <th> @Html.DisplayNameFor(model => model.PinCode) </th>       
                                        <th> @Html.DisplayNameFor(model => model.OurTips1) </th>       
                                        <th> @Html.DisplayNameFor(model => model.OurTips2) </th>       
                                        <th> @Html.DisplayNameFor(model => model.OurTips3) </th>       
                                        <th> @Html.DisplayNameFor(model => model.OutTips4) </th>       
                                        <th> @Html.DisplayNameFor(model => model.OurTips5) </th>       
                                        <th> @Html.DisplayNameFor(model => model.NightLife) </th>       
                                        <th> @Html.DisplayNameFor(model => model.TelephoneCode) </th>       
                                        <th> @Html.DisplayNameFor(model => model.TopThingsToKnow) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Fk_Airport_Name) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Fk_Railway_Name) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Itinerary) </th>       
                                        <th> @Html.DisplayNameFor(model => model.BestTimeToGo1) </th>       
                                        <th> @Html.DisplayNameFor(model => model.BestTimeToGo2) </th>       
                                        <th> @Html.DisplayNameFor(model => model.BestTimeToGo3) </th>       
                                        <th> @Html.DisplayNameFor(model => model.BestTimeToGo4) </th>       
                                        <th> @Html.DisplayNameFor(model => model.BestTimeToGo5) </th>       
                                        <th> @Html.DisplayNameFor(model => model.Remarks) </th>       
                                        <th> @Html.DisplayNameFor(model => model.FreezeStatus) </th>       
                                        <th> @Html.DisplayNameFor(model => model.FreezedBy) </th>       
                                        <th> @Html.DisplayNameFor(model => model.VerifiedStatus) </th>       
                                        <th> @Html.DisplayNameFor(model => model.VerifiedOn) </th>       
                                        <th> @Html.DisplayNameFor(model => model.VerifiedBy) </th>       
                                        <th> @Html.DisplayNameFor(model => model.ActiveStatus) </th>       
                                        <th> @Html.DisplayNameFor(model => model.ActivatedOn) </th>       
                                        <th> @Html.DisplayNameFor(model => model.ActivatedBy) </th>       
                                        <th> @Html.DisplayNameFor(model => model.CreatedOn) </th>       
                                        <th> @Html.DisplayNameFor(model => model.CreatedBy) </th>       
                                        <th> @Html.DisplayNameFor(model => model.ModifiedOn) </th>       
                                        <th> @Html.DisplayNameFor(model => model.ModifiedBy) </th>       
                                        <th> @Html.DisplayNameFor(model => model.ModificationFrequency) </th>       
                                        <th> @Html.DisplayNameFor(model => model.GCompId) </th>       
                                        <th> @Html.DisplayNameFor(model => model.CompId) </th>       
                                    </tr>
            </thead>

            <tbody id="Def">
                @await Html.PartialAsync("_IndexData")
            </tbody>
        </table>
    </div>
</div>

