@model WebAppColorStays.Models.ViewModel.CsKdCnForm

@{
    Layout = "_Layout";
    ViewData["Action"] = "KdCnForm";
}

<div class="PgLtRt10 DyFx FxAnImCr Wh100p BrRs15 Ht50">
    <div class="CrTeTtLt FxGw1"> <h1>Edit @ViewBag.Title</h1></div>
    <div>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1" onclick="location.href='/ColorStays/KdCnForm/Create'"><i class="UT-AddFile FtSz18"></i></button>
        <button class="BnCe35 HrTmSeo94 SwBx1Dv-Vn1" onclick="location.href='/ColorStays/KdCnForm/Index'"><i class="UT-List-OLine FtSz18"></i></button>
    </div>

</div>

<div class="SwBx1Dv-Vn1 CrBdWe85 Pg7 BrRs15">
    <div class="FxRw FxAnImSh">
        <div class="Fx45 Pg3">
            <div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
                <h3 class="MnTp7 MnBm14 Br2_Cr BrRs4 CrBrWe TtAnCr Pg5 HrCrTe">
                    <i class="UT-PenNibSmall"></i>
                    Edit Detail
                </h3>

                <form id="Edit"
                      data-ajax="true"
                      data-ajax-url="/ColorStays/KdCnForm/Edit"
                      data-ajax-method="POST"
                      data-ajax-loading="#loader"
                      data-ajax-success="Success(data, status, xhr,'Edit','CreateOrEdit','/ColorStays/KdCnForm/CreateOrEdit?id=@Model.Id')"
                      data-ajax-failure="FormAjaxFail(xhr, status, error,'Edit')">

                    @Html.AntiForgeryToken()

                    <h3 class="MnBm10"><span style="color:red">@ViewBag.Verified @ViewBag.Message</span></h3>

                    @Html.ValidationSummary(true)

                    <input type="hidden" name="NameAction" value="E" />

                    <div id="CreateOrEdit">
                        @await Html.PartialAsync("_CreateOrEdit", Model)
                    </div>

                    <div class="MnTp7 MnBm7 FxRw">
                        <div class="FxGw1">
                            <button type="submit" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-EditFileLine"></i>&nbsp;Edit</button>
                        </div>
                        <div>
                            <button type="button" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" onclick="location.href='/ColorStays/KdCnForm/Index'"><i class="UT-CancelCircleLine"></i>&nbsp;Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="Fx55 Pg3 FormSideView" id="FormSideView" style="overflow:auto">
            @await Html.PartialAsync("_IndexSearch", (IEnumerable<WebAppColorStays.Models.ViewModel.CsKdCnForm>)ViewData["EnteredDetails"])
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        IntializeTableSearch();
        StartSuggestionBox(2, 'SearchCountry', '/ColorStays/Country/SuggestCountry', '', '', AoCeCountry);
        StartSuggestionBox(2, 'SearchState', '/ColorStays/State/SuggestState', '', '', AoCeState);
        getUT('/ColorStays/KdCnForm/KeywordCityList?SeId=@Model.Fk_State_Name&FmId=@Model.Id&FormType=Bulk', function (data) {
            document.getElementById('CityListCheck').innerHTML = "";
            document.getElementById('CityListCheck').innerHTML = data;
            HideLoader();
        });
    });

    //Clear Autocompete data
    function ClearData(UrNe, UrId) {
        document.getElementById(UrNe).value = '';
        document.getElementById(UrId).value = '';
    }

    //Autocomplete Country
    function AoCeCountry(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_Country_Name').value = event.target.Id;
        document.getElementById(InputId).value = event.target.Value;
    }

    //Autocomplete State
    function AoCeState(event) {
        var InputId = event.target.InputID;
        SuggestionClose(InputId);
        document.getElementById('Fk_State_Name').value = event.target.Id;
        document.getElementById(InputId).value = event.target.Value;
        getUT('/ColorStays/KdCnForm/KeywordCityList?SeId=' + event.target.Id + '&FmId=@Model.Id&FormType=Bulk', function (data) {
            document.getElementById('CityListCheck').innerHTML = "";
            document.getElementById('CityListCheck').innerHTML = data;
            HideLoader();
        });
    }

    //Get the create view for root prefix suffix
    function CreatePrefixRootSuffix(URL) {
        var loader = document.getElementById("loader");

        var GetMethod = new XMLHttpRequest();
        loader.style.display = "flex";
        GetMethod.open('GET', URL, true);
        GetMethod.onload = function () {
            var content = GetMethod.responseText;
            document.getElementById('PopUpScript').style.display = "block";
            document.getElementById('PopUpScriptDetailContentID').innerHTML = "";
            document.getElementById('PopUpScriptDetailContentID').innerHTML = content;
            document.getElementById('PopUpOkBtn').style.display = "none";

            HideLoader();
        };
        GetMethod.send(null);
    }

    function StOnRemove(IdStg) {
        var St = document.getElementById(IdStg);
        var i, L = St.options.length - 1;
        for (i = L; i >= 1; i--) {
            St.remove(i);
        }
    }

    //success function for Root
    function SuccessRoot(data, status, xhr, FormID, FormFieldID) {
        if (data.includes("ShowValidation")) {
            var popup = document.getElementById("PopUp");
            popup.style.width = "30%";
            popup.style.left = "35%";
            popup.style.top = "15%";
            popup.style.zIndex = "99999999999999";
            popup.style.maxHeight = "35%";
            popup.style.minHeight = "35%";
            document.getElementById("PopUpDetailID").style.display = "block";
            document.getElementById("PopUpDetailContentID").style.textAlign = "center";
            document.getElementById("PopUpDetailContentID").style.fontSize = "30px";
            document.getElementById('PopUpDetailContentID').innerHTML = "Duplicate Value!! Please Enter Some Another Value.";
            document.getElementById("PopUp").style.display = "block";
            HideLoader();
        }
        if (data.includes("SuccessPop")) {
            FormAjaxSuccess(data, FormID, FormFieldID, "UpdateNothing", "");
            StOnRemove('Fk_KdRoot_Name');
            StOnSe = document.getElementById('Fk_KdRoot_Name');
            getUT('/ColorStays/KdRoot/DropDownRoot', function (data) {
                var json = JSON.parse(data);
                for (var i = 0; i < json.length; i++) {
                    var obj = json[i];
                    var newOption = new Option(obj.Text, obj.Value);
                    StOnSe.add(newOption, undefined);
                }
                HidePopUpScript();
            });
        }

    }

    //success function for Prefix
    function SuccessPrefix(data, status, xhr, FormID, FormFieldID) {
        if (data.includes("ShowValidation")) {
            var popup = document.getElementById("PopUp");
            popup.style.width = "30%";
            popup.style.left = "35%";
            popup.style.top = "15%";
            popup.style.zIndex = "99999999999999";
            popup.style.maxHeight = "35%";
            popup.style.minHeight = "35%";
            document.getElementById("PopUpDetailID").style.display = "block";
            document.getElementById("PopUpDetailContentID").style.textAlign = "center";
            document.getElementById("PopUpDetailContentID").style.fontSize = "30px";
            document.getElementById('PopUpDetailContentID').innerHTML = "Duplicate Value!! Please Enter Some Another Value.";
            document.getElementById("PopUp").style.display = "block";
            HideLoader();
        }
        if (data.includes("SuccessPop")) {
            FormAjaxSuccess(data, FormID, FormFieldID, "UpdateNothing", "");
            StOnRemove('Fk_KdPrefix_Name');
            StOnSe = document.getElementById('Fk_KdPrefix_Name');
            getUT('/ColorStays/KdPrefix/DropDownPrefix', function (data) {
                var json = JSON.parse(data);
                for (var i = 0; i < json.length; i++) {
                    var obj = json[i];
                    var newOption = new Option(obj.Text, obj.Value);
                    StOnSe.add(newOption, undefined);
                }
            });
        }
    }

    //success function for Suffix
    function SuccessSuffix(data, status, xhr, FormID, FormFieldID) {
        if (data.includes("ShowValidation")) {
            var popup = document.getElementById("PopUp");
            popup.style.width = "30%";
            popup.style.left = "35%";
            popup.style.top = "15%";
            popup.style.zIndex = "99999999999999";
            popup.style.maxHeight = "35%";
            popup.style.minHeight = "35%";
            document.getElementById("PopUpDetailID").style.display = "block";
            document.getElementById("PopUpDetailContentID").style.textAlign = "center";
            document.getElementById("PopUpDetailContentID").style.fontSize = "30px";
            document.getElementById('PopUpDetailContentID').innerHTML = "Duplicate Value!! Please Enter Some Another Value.";
            document.getElementById("PopUp").style.display = "block";
            HideLoader();
        }
        if (data.includes("SuccessPop")) {
            FormAjaxSuccess(data, FormID, FormFieldID, "UpdateNothing", "");
            StOnRemove('Fk_KdSuffix_Name');
            StOnSe = document.getElementById('Fk_KdSuffix_Name');
            getUT('/ColorStays/KdSuffix/DropDownSuffix', function (data) {
                var json = JSON.parse(data);
                for (var i = 0; i < json.length; i++) {
                    var obj = json[i];
                    var newOption = new Option(obj.Text, obj.Value);
                    StOnSe.add(newOption, undefined);
                }
            });
        }
    }

    function Success(data, status, xhr, FormID, FormFieldID, FormFieldURL) {
        FormAjaxSuccess(data, FormID, FormFieldID, "UpdateDiv", "Def", FormFieldURL);
        //Refresh the LHS View(ANkita)
        var xhrget = new XMLHttpRequest();
        xhrget.open('GET', FormFieldURL, true);
        xhrget.onload = function () {
            document.getElementById(FormFieldID).innerHTML = "";
            document.getElementById(FormFieldID).innerHTML = xhrget.responseText;
            FormFocus(FormID);
        };
        xhrget.send(null);
        getUT('/ColorStays/KdCnForm/KeywordCityList?SeId=@Model.Fk_State_Name&FmId=@Model.Id', function (data) {
            document.getElementById('CityListCheck').innerHTML = "";
            document.getElementById('CityListCheck').innerHTML = data;
            HideLoader();
        });
        //Here we get the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data, "text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/KdCnForm/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=NoSearch&NetRecords=' + netrecord);
    }

    //Table Search Success Function
    function TableSuccessFn(data, status, xhr, FormID) {
        //This the SuccessFunction
        FormAjaxSuccess(data, FormID, '', "UpdateDivNoFReset", "Def");
        //Here we get the pageno,pagesize and listcount
        var doc = new DOMParser().parseFromString(data,"text/html");
        var pageinfo = doc.getElementById("PaginationAt");
        var netrecord = pageinfo.getAttribute("netrecord");
        var pageno = pageinfo.getAttribute("pagenumber");
        var pagesize = pageinfo.getAttribute("PageSize");
        //Refresh the Pagination Div with new Values
        RefreshPagination('/ColorStays/KdCnForm/Pagination?PgSelectedNum=' + pageno + '&PgSize=' + pagesize + '&SearchType=TableSearch&NetRecords=' + netrecord);
    }

    function IntializeTableSearch() {
        var SkipRow = [0, 1];
        var SkipCol = [0];
        StartTableSearch('TeUT', SkipRow, SkipCol);
    }
</script>

