@model WebAppColorStays.Models.ViewModel.CsPackageOffer
@{ 
    Layout = null; 
    ViewData["Action"] = "PackageOffer";
}

<div style="display:none">responseformUT ShowData</div>

<div class="BrTp3_Cr Br1_Cr BrRs10 CrBrTe CrBdTeBody Pg12">
    <h3 class="MnTp7 MnBm7 Br2_Cr BrRs4 CrBrWe TtAnCr Pg5 HrCrTe">
        <i class="UT-DetailLine"></i>
        @ViewBag.Title Detail
    </h3>
    <div style="overflow:auto; width:100%;" class="PopUpDetailContent">
        @if (ViewBag.Message != null)
        {<h3><span style="color:red">@ViewBag.Message</span></h3>}

        <table class="TeStrip TeBr">
      
  
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.Fk_Package_Name)</td>
        <td>@Model.Fk_Package_Name</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.Name)</td>
        <td>@Model.Name</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.Image)</td>
        <td>@Model.Image</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.SyStartDate)</td>
        <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", Model.SyStartDate)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.SyEndDate)</td>
        <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", Model.SyEndDate)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.IsNoSyEndDate)</td>
        <td>@Model.IsNoSyEndDate</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.BgStartDate)</td>
        <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", Model.BgStartDate)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.BgEndDate)</td>
        <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", Model.BgEndDate)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.IsNoBgEndDate)</td>
        <td>@Model.IsNoBgEndDate</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.ISBlackOutDate)</td>
        <td>@Model.ISBlackOutDate</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.IsRefundable)</td>
        <td>@Model.IsRefundable</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.IsPayAtHotel)</td>
        <td>@Model.IsPayAtHotel</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.IsB2C)</td>
        <td>@Model.IsB2C</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.IsStackable)</td>
        <td>@Model.IsStackable</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.Title)</td>
        <td>@Model.Title</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.IsApplyDis)</td>
        <td>@Model.IsApplyDis</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.DiscountPercent)</td>
        <td>@String.Format("{0:F}", Model.DiscountPercent)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.FixedDiscountPrice)</td>
        <td>@String.Format("{0:F}", Model.FixedDiscountPrice)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.DisForLoggedInUser)</td>
        <td>@String.Format("{0:F}", Model.DisForLoggedInUser)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.TagLine)</td>
        <td>@Model.TagLine</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.GeneratedCode)</td>
        <td>@Model.GeneratedCode</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.CommonCode)</td>
        <td>@Model.CommonCode</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.Remarks)</td>
        <td>@Model.Remarks</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.FreezeStatus)</td>
        <td>@Model.FreezeStatus</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.FreezedBy)</td>
        <td>@Model.FreezedBy</td>
        </tr>

		      
      
      
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.VerifiedStatus)</td>
        <td><div class="display-field">@if(Model.VerifiedStatus==true){<span>Verified</span>}else{ <span>Pending-Verify</span>}</div></td>
        </tr>
      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.VerifiedOn)</td>
        <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", Model.VerifiedOn)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.VerifiedBy)</td>
        <td>@Model.VerifiedBy</td>
        </tr>

		      
        <tr>
        <td class="FtWt600 Pg8"><h4> @Html.DisplayNameFor(model => model.ActiveStatus)</h4></td>
        <td><div class="display-field">@if(Model.ActiveStatus==true){<span>Active</span>}else{ <span>Inactive</span>}</div></td>
        </tr>    
      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.ActivatedOn)</td>
        <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", Model.ActivatedOn)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.ActivatedBy)</td>
        <td>@Model.ActivatedBy</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.CreatedOn)</td>
        <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", Model.CreatedOn)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.CreatedBy)</td>
        <td>@Model.CreatedBy</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.ModifiedOn)</td>
        <td>@String.Format("{0:dd MMMM,yyyy hh:mm tt}", Model.ModifiedOn)</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.ModifiedBy)</td>
        <td>@Model.ModifiedBy</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.ModificationFrequency)</td>
        <td>@Model.ModificationFrequency</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.GCompId)</td>
        <td>@Model.GCompId</td>
        </tr>

		      
 
        <tr>
        <td class="FtWt600 Pg8">@Html.DisplayNameFor(model => model.CompId)</td>
        <td>@Model.CompId</td>
        </tr>

		      
      
        </table>
    </div>
</div>
  
<div class="MnTp7 MnBm7 FxRw">
    <div class="DyFx FxJyCtSt Gp10 Wh100p">
        @if (Model.VerifiedStatus == false && Model.ActiveStatus == false && Model.GlobalStatus == false)
        {
            <button type="button" class="BnRd15 CrBdTeBnDe CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94" onclick="Delete('/ColorStays/PackageOffer/DeleteConfirmed?Id=@Model.Id','/ColorStays/PackageOffer');"><i class="UT-DeletePageSolid"></i>&nbsp;Delete</button>
        }

        @if (User.IsInRole("GlobalVerifier") || User.IsInRole("Owner") || User.IsInRole("Administrator"))
        {
            //  Checks which Button to Show For the Verification
            if (Model.VerifiedStatus == false && Model.GlobalStatus == false)
            {
                <button type="button" onclick="VerifyData('/ColorStays/PackageOffer/VerifyData?Id=@Model.Id&AnName=Verify','/ColorStays/PackageOffer')" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-VerifySolid"></i>&nbsp;Verify</button>
            }
            if (Model.VerifiedStatus == true && Model.GlobalStatus == false)
            {
                <button type="button" onclick="VerifyData('/ColorStays/PackageOffer/VerifyData?Id=@Model.Id&AnName=UnVerify','/ColorStays/PackageOffer')" class="BnRd15 CrBdTeBnNt CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-VerifyNotSolid"></i>&nbsp;Un-Verify</button>
            }
            //  Checks which Button to Show For the Activation
            if (Model.ActiveStatus == false && Model.GlobalStatus == false)
            {
                <button type="button" onclick="VerifyData('/ColorStays/PackageOffer/VerifyData?Id=@Model.Id&AnName=Activate','/ColorStays/PackageOffer')" class="BnRd15 CrBdTeBnPs CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-BulbOn"></i>&nbsp;Active</button>
            }
            if (Model.ActiveStatus == true && Model.GlobalStatus == false)
            {
                <button type="button" onclick="VerifyData('/ColorStays/PackageOffer/VerifyData?Id=@Model.Id&AnName=Inactivate','/ColorStays/PackageOffer')" class="BnRd15 CrBdTeBnPs CrTtTeBnLt SwBxIt2TtBx-Vn1 HrTmSeo94"><i class="UT-BulbOff"></i>&nbsp;Inactive</button>
            }
        }
    </div>
</div>


