@model WebAppColorStays.Models.ViewModel.CsPhoto

@{
    Layout = null;
    ViewData["Action"] = "Photo";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

<form id="Edit"
      data-ajax="true"
      data-ajax-url="/ColorStays/Photo/Edit"
      data-ajax-method="POST"
      data-ajax-loading="#loader"
      data-ajax-success="SuccessIeDl(data, status, xhr,'Edit','CreateOrEdit')"
      data-ajax-failure="FormAjaxFail(xhr, status, error,'Edit')">

    @Html.AntiForgeryToken()
    <div class="TtAnCr Pg7">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.CompId)
        @Html.HiddenFor(model => model.Fk_Country_Name)
        @Html.HiddenFor(model => model.Fk_State_Name)
        @Html.HiddenFor(model => model.Fk_City_Name)
        @Html.HiddenFor(model => model.Fk_Place_Name)
        @Html.HiddenFor(model => model.ImageUrl)
        @Html.HiddenFor(model => model.UploadedFolder)
        @Html.HiddenFor(model => model.Fk_Terrain_Name)
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Title)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Title)" asp-for="Title" autocomplete="off" readonly />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Title"></span></div>
        </div>

        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag)" asp-for="AltTag" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="AltTag"></span></div>
        </div>

        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Description)</div>
                    <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Description)" asp-for="Description" autocomplete="off" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Description"></span></div>
        </div>
        @if (Model.Fk_Country_Name != null)
        {
            <div class="MnTp7 MnBm7">
                <div class="TtBxFlStDiv">
                    <div class="TtBxFlSt">
                        <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShowCountryGallery)</div>
                        @Html.CheckBoxFor(x => x.ShowCountryGallery, htmlAttributes: new { id = "ShowCountryGallery", @Class = "TtBxTt15" })
                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="ShowCountryGallery"></span></div>
            </div>
        }
        @if (Model.Fk_State_Name != null)
        {
            <div class="MnTp7 MnBm7">
                <div class="TtBxFlStDiv">
                    <div class="TtBxFlSt">
                        <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShowStateGallery)</div>
                        @Html.CheckBoxFor(x => x.ShowStateGallery, htmlAttributes: new { id = "ShowStateGallery", @Class = "TtBxTt15" })
                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="ShowStateGallery"></span></div>
            </div>
        }
        @if (Model.Fk_City_Name != null)
        {
            <div class="MnTp7 MnBm7">
                <div class="TtBxFlStDiv">
                    <div class="TtBxFlSt">
                        <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShowCityGallery)</div>
                        @Html.CheckBoxFor(x => x.ShowCityGallery, htmlAttributes: new { id = "ShowCityGallery", @Class = "TtBxTt15" })
                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="ShowCityGallery"></span></div>
            </div>
        }
        @if (Model.Fk_Place_Name != null)
        {
            <div class="MnTp7 MnBm7">
                <div class="TtBxFlStDiv">
                    <div class="TtBxFlSt">
                        <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ShowPlaceGallery)</div>
                        @Html.CheckBoxFor(x => x.ShowPlaceGallery, htmlAttributes: new { id = "ShowPlaceGallery", @Class = "TtBxTt15" })
                    </div>
                </div>
                <div class="VnRd"><span asp-validation-for="ShowPlaceGallery"></span></div>
            </div>
        }
        </div>
    <div class="MnTp10 MnBm18 TtAnCr Pg7" style="margin-top: 10px; margin-bottom: 10px;">
        <input type="submit" value="Update this!" class="BnRd15 CrBdTeBnAd CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
        @if (Model.Fk_Country_Name != null && Model.UploadedFolder == "Country")
        {
            <input type="button" onclick="DeleteImg('@Model.Id','@Model.Fk_Country_Name','@Model.Title')" value="Delete this!" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
        }
        @if (Model.Fk_State_Name != null && Model.UploadedFolder == "State")
        {
            <input type="button" onclick="DeleteImg('@Model.Id','@Model.Fk_State_Name','@Model.Title')" value="Delete this!" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
        }
        @if (Model.Fk_City_Name != null && Model.UploadedFolder == "City")
        {
            <input type="button" onclick="DeleteImg('@Model.Id','@Model.Fk_City_Name','@Model.Title')" value="Delete this!" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
        }
        @if (Model.Fk_Place_Name != null && Model.UploadedFolder == "Place")
        {
            <input type="button" onclick="DeleteImg('@Model.Id','@Model.Fk_Place_Name','@Model.Title')" value="Delete this!" class="BnRd15 CrBdTeBnCl CrTtTeBnLt SwBxIt1Dv-Vn1 HrTmSeo94" />
        }
    </div>
</form>
