@model Tuple<List<WebAppColorStays.Models.ViewModel.CsRoomType>, List<WebAppColorStays.Models.ViewModel.CsPlanType>>

@{ 
    Layout = null; 
    ViewData["Action"] = "HotelOffer";
}

@if(Model != null)
{
    <div class="FxRw">
        @for (int j = 0; j < Model.Item1.Count(); j++)
        {
            <div class="Fx50 Pg2">
                <div id="RoomPlan">
                    <div class="MnTp7 MnBm7">
                        <div class="TtBxFlStDiv">
                            <div class="TtBxFlSt">
                                <input class="SeIt1o15" type="checkbox" id="@Model.Item1[j].Id" asp-for="@Model.Item1[j].SelectRoom" onchange="SelectAllPlan('@Model.Item1[j].Id')">
                                <input type="hidden" asp-for="@Model.Item1[j].Id" />

                                <input class="TtBxTt15" autocomplete="off" asp-for="@Model.Item1[j].Name" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                @for (int i = 0; i < Model.Item2.Count(); i++)
                {
                    <div class="MnTp7 MnBm7">
                        <div class="TtBxFlStDiv">
                            <div class="TtBxFlSt">
                                <input class="SeIt1o15" type="checkbox" id="@Model.Item1[j].Id-@Model.Item2[i].Id" asp-for="@Model.Item2[i].SelectPlan">
                                <input type="hidden" asp-for="@Model.Item2[i].Id" />
                                &nbsp;@Model.Item2[i].Code
                            </div>
                        </div>
                    </div>
                }
            </div>
       
        }

    </div>
}