@model WebAppColorStays.Models.ViewModel.CsKdHlGenerated


@{ 
    Layout = null; 
    ViewData["Action"] = "KdHlGenerated";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)



<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_KdCnCategory_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_KdCnCategory_Name)" asp-for="Fk_KdCnCategory_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_KdCnCategory_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_HotelType_Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Fk_HotelType_Name)" asp-for="Fk_HotelType_Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_HotelType_Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Heading)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Heading)" asp-for="Heading" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Heading"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Breakfast)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Breakfast)" asp-for="Breakfast" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Breakfast"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Lunch)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Lunch)" asp-for="Lunch" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Lunch"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Dinner)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Dinner)" asp-for="Dinner" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Dinner"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.FromPrice)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.FromPrice)" asp-for="FromPrice" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="FromPrice"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.ToPrice)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.ToPrice)" asp-for="ToPrice" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="ToPrice"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.NoOfPerson)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.NoOfPerson)" asp-for="NoOfPerson" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="NoOfPerson"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.BudgetHotels)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.BudgetHotels)" asp-for="BudgetHotels" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="BudgetHotels"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.LuxuryHotels)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.LuxuryHotels)" asp-for="LuxuryHotels" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="LuxuryHotels"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.PremiumHotels)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.PremiumHotels)" asp-for="PremiumHotels" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="PremiumHotels"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.IsFreeCancellation)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.IsFreeCancellation)" asp-for="IsFreeCancellation" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="IsFreeCancellation"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.IsBookWithoutCreditCard)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.IsBookWithoutCreditCard)" asp-for="IsBookWithoutCreditCard" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="IsBookWithoutCreditCard"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.IsNoPrePayment)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.IsNoPrePayment)" asp-for="IsNoPrePayment" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="IsNoPrePayment"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.IsFeaturedProperty)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.IsFeaturedProperty)" asp-for="IsFeaturedProperty" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="IsFeaturedProperty"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.DistanceFromCityCenter)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.DistanceFromCityCenter)" asp-for="DistanceFromCityCenter" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="DistanceFromCityCenter"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverImage)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.CoverImage)" asp-for="CoverImage" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CoverImage"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.CoverAltTag)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.CoverAltTag)" asp-for="CoverAltTag" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="CoverAltTag"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.URL)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.URL)" asp-for="URL" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="URL"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.DescriptionGenerated)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.DescriptionGenerated)" asp-for="DescriptionGenerated" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="DescriptionGenerated"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.DescriptionManual)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.DescriptionManual)" asp-for="DescriptionManual" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="DescriptionManual"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.StructuredData)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.StructuredData)" asp-for="StructuredData" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="StructuredData"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOTitle)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.SEOTitle)" asp-for="SEOTitle" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOTitle"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEODescription)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.SEODescription)" asp-for="SEODescription" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEODescription"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.SEOKeywords)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.SEOKeywords)" asp-for="SEOKeywords" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="SEOKeywords"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>
