@model WebAppColorStays.Models.ViewModel.CsBuy


@{ 
    Layout = null; 
    ViewData["Action"] = "Buy";
}

<div style="display:none">responseformUT @ViewData["ResponseName"]</div>

<h3 class="MnBm10"><span style="color:red">@ViewBag.Message</span></h3>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.RowVersion)
@Html.HiddenFor(model => model.CreatedBy)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.CompId)
<input type="hidden" asp-for="ShowInCity" value="true" />
<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Fk_City_Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt14" placeholder="City Name" type="text" id="SearchCity" asp-for="City" autocomplete="off" required onchange="ClearData('SearchCity','Fk_City_Name', 'Fk_State_Name', 'Fk_Country_Name')" />
            <input type="hidden" asp-for="Fk_City_Name" required />
            <input type="hidden" asp-for="Fk_State_Name" required />
            <input type="hidden" asp-for="Fk_Country_Name" required />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Fk_City_Name"></span></div>
</div>

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Name)<span style="color:red;"> *</span></div>
            <input class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Name)" asp-for="Name" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Name"></span></div>
</div>

@if (Model != null)
{
    @if (Model.Image != null)
    {
        <div class="MnTp7 MnBm7">
            <div class="TtBxFlStDiv">
                <div class="TtBxFlSt">
                    <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Image)</div>
                    <img src="@Model.Image" class="Wh60p" />
                    <input asp-for="ImageName" type="hidden" />
                </div>
            </div>
            <div class="VnRd"><span asp-validation-for="Image"></span></div>
        </div>
    }
}

<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Image)</div>
            <input asp-for="Image" type="file" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Image"></span></div>
</div>


<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.AltTag)<span style="color:red;"> *</span></div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.AltTag)" asp-for="AltTag" autocomplete="off" required/>
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="AltTag"></span></div>
</div>

<div class="FxRw">
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="ShowInState">

                &nbsp;In State
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="ShowInState"></span></div>
    </div>
    <div class="Fx50 Pg2 MnTp7 MnBm7">
        <div class="TtBxFlStDiv">
            <div class="TtBxFlSt">
                <input class="SeIt1o15" type="checkbox" asp-for="ShowInCountry">

                &nbsp;In Country
            </div>
        </div>
        <div class="VnRd"><span asp-validation-for="ShowInCountry"></span></div>
    </div>
</div>



<div class="MnTp7 MnBm7">
    <div class="TtBxFlStDiv">
        <div class="TtBxFlSt">
            <div class="TtBxFlStLl15">@Html.DisplayNameFor(model => model.Remarks)</div>
            <input  class="TtBxTt15" placeholder="@Html.DisplayNameFor(model => model.Remarks)" asp-for="Remarks" autocomplete="off" />
        </div>
    </div>
    <div class="VnRd"><span asp-validation-for="Remarks"></span></div>
</div>
